description = "Displays the appraisals search pagination."

[viewBag]
==
{% if 1 < appraisalsPages %}
    <ul class="pagination pg-darkgrey justify-content-center">
        {% if 1 < appraisalsPage %}
            <li class="page-item" data-page="{{ appraisalsPage - 1 }}">
                <a class="page-link appraisal-search-pagination" data-page="{{ appraisalsPage - 1 }}">&laquo;</a>
            </li>
        {% endif %}

        {% set cells = 5 %}
        {% for i in appraisalsPage..appraisalsPages if cells %}
            {% if i == appraisalsPage %}
                <li class="page-item active" data-page="{{ i }}">
                    <a class="page-link appraisal-search-pagination" data-page="{{ i }}">{{ i }}</a>
                </li>
            {% else %}
                <li class="page-item" data-page="{{ i }}">
                    <a class="page-link appraisal-search-pagination" data-page="{{ i }}">{{ i }}</a>
                </li>
            {% endif %}
            {% set cells = (cells - 1) %}
        {% endfor %}

        {% if appraisalsPage < appraisalsPages %}
            <li class="page-item" data-page="{{ appraisalsPage + 1 }}">
                <a class="page-link appraisal-search-pagination" data-page="{{ appraisalsPage + 1 }}">&raquo;</a>
            </li>
        {% endif %}
    </ul>
{% endif %}

<script type="text/javascript">
    $('.appraisal-search-pagination').on('click', function () {
        /* Extract the clicked page. */
        var $newPage = $(this).data('page');
        /* Extract the active teacher plan ID. */
        var $teacherId = $(this).data('id');

        /* Select the course select form and send the request */
        $('#appraisalSearchForm').request(
            'onAppraisalSearch',
            {
                update: {
                    'school-appraisals/appraisal-grid': '#appraisalSearchResults',
                    'school-appraisals/appraisal-pagination': '#appraisalSearchPagination'
                },
                data: {
                    page: $newPage,
                    teacherId: $teacherId
                }
            }
        );
    });
</script>
