description = "Displays an appraisal details"

[viewBag]
==
{% if appraisal %}
    <div class="container p-0 my-4">
        <div class="row bg-white rounded d-flex align-items-center py-4 appraisal-details-content">

            <div class="col-12 co-sm-6 col-md-6 col-lg-6 col-xl-6 text-center text-sm-left text-md-left text-lg-left text-xl-left">
                <h5 class="font-weight-bold my-1 mx-0">{{ 'appraisal.year'|_ }}:&nbsp;{{ appraisal.semester.year }}&nbsp;&nbsp;&nbsp;{{ 'appraisal.semester'|_ }}:&nbsp;{{ appraisal.semester.semester }}</h5>
            </div>

            <div class="col-12 co-sm-6 col-md-6 col-lg-6 col-xl-6 text-center text-sm-right text-md-right text-lg-right text-xl-right">
                <h5 class="font-weight-bold my-1 mx-0">{{ 'appraisal.status'|_ }}:&nbsp;{{ appraisal.frontend_status }}</h5>
            </div>

            <div class="col-12 mt-2">
                <form id="appraisalDetails" method="POST" data-request-validate data-request-flash>

                    <div class="form-group">
                        <div class="md-form">
                            <textarea name="objectives" type="text" id="appraisal_objectives" class="md-textarea form-control" rows="6" readonly>{{ appraisal.objectives }}</textarea>
                            <label for="appraisal_objectives">{{ 'teacher_appraisal.appraisal_view.objectives'|_ }}</label>
                            <div class="small text-danger" data-validate-for="appraisal_objectives"></div>
                        </div>
                    </div>

                    <div class="row align-items-top">

                        {% if 'new' != appraisal.status %}
                            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-3">
                                <div class="md-form">
                                    <input name="first_skill" type="text" id="first_skill" class="form-control" value="{{ appraisal.first_skill_name }}" {% if 'objectives-set' != appraisal.status %} readonly {% endif %}>
                                    <label for="first_skill">{{ 'teacher_appraisal.appraisal_view.grade'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="first_skill"></div>
                                    <small id="first_skill_help" class="form-text text-muted">{{ appraisal.first_skill_description }}</small>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-3">
                                <div class="form-group">
                                    <div class="md-form">
                                        <input name="first_skill_grade" type="number" id="first_skill_grade" class="form-control" value="{{ appraisal.first_skill_grade }}" min="1" max="10" {% if 'skills-set' != appraisal.status %} readonly {% endif %}>
                                        <label for="first_skill_grade">{{ 'teacher_appraisal.appraisal_view.grade'|_ }}</label>
                                        <div class="small text-danger" data-validate-for="first_skill_grade"></div>
                                        <small id="first_skill_grade_help" class="form-text text-muted">{{ 'teacher_appraisal.appraisal_view.grade_help_text' }}</small>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-3">
                                <div class="md-form">
                                    <input name="second_skill" type="text" id="second_skill" class="form-control" value="{{ appraisal.second_skill_name }}" {% if 'objectives-set' != appraisal.status %} readonly {% endif %}>
                                    <label for="second_skill">{{ 'teacher_appraisal.appraisal_view.grade'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="second_skill"></div>
                                    <small id="second_skill_help" class="form-text text-muted">{{ appraisal.second_skill_description }}</small>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-3">
                                <div class="form-group">
                                    <div class="md-form">
                                        <input name="second_skill_grade" type="number" id="second_skill_grade" class="form-control" value="{{ appraisal.second_skill_grade }}" min="1" max="10" {% if 'skills-set' != appraisal.status %} readonly {% endif %}>
                                        <label for="second_skill_grade">{{ 'teacher_appraisal.appraisal_view.grade'|_ }}</label>
                                        <div class="small text-danger" data-validate-for="second_skill_grade"></div>
                                        <small id="second_skill_grade_help" class="form-text text-muted">{{ 'teacher_appraisal.appraisal_view.grade_help_text' }}</small>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-3">
                                <div class="md-form">
                                    <input name="third_skill" type="text" id="third_skill" class="form-control" value="{{ appraisal.third_skill_name }}" {% if 'objectives-set' != appraisal.status %} readonly {% endif %}>
                                    <label for="third_skill">{{ 'teacher_appraisal.appraisal_view.grade'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="third_skill"></div>
                                    <small id="third_skill_help" class="form-text text-muted">{{ appraisal.third_skill_description }}</small>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-3">
                                <div class="form-group">
                                    <div class="md-form">
                                        <input name="third_skill_grade" type="number" id="third_skill_grade" class="form-control" value="{{ appraisal.third_skill_grade }}" min="1" max="10" {% if 'skills-set' != appraisal.status %} readonly {% endif %}>
                                        <label for="third_skill_grade">{{ 'teacher_appraisal.appraisal_view.grade'|_ }}</label>
                                        <div class="small text-danger" data-validate-for="third_skill_grade"></div>
                                        <small id="third_skill_grade_help" class="form-text text-muted">{{ 'teacher_appraisal.appraisal_view.grade_help_text' }}</small>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    </div>

                    <div class="form-group">
                        <div class="md-form">
                            <textarea name="notes" type="text" id="appraisal_notes" class="md-textarea form-control" rows="6">{{ appraisal.notes }}</textarea>
                            <label for="appraisal_notes">{{ 'teacher_appraisal.appraisal_view.notes'|_ }}</label>
                            <div class="small text-danger" data-validate-for="appraisal_notes"></div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="row w-100">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-3">
                    {% if 'objectives-set' == appraisal.status %}
                        <button type="button" class="btn btn-outline-primary waves-effect rounded d-flex justify-content-center d-md-table mx-auto mt-3 appraisal-set-skills" data-appraisal-id="{{ appraisal.id }}" data-teacher-id="{{ teacher.id }}">{{ 'appraisal.set_skills'|_ }}</button>
                    {% elseif 'skills-set' == appraisal.status %}
                        <button type="button" class="btn btn-outline-primary waves-effect rounded d-flex justify-content-center d-md-table mx-auto mt-3 appraisal-close" data-appraisal-id="{{ appraisal.id }}" data-teacher-id="{{ teacher.id }}">{{ 'appraisal.close'|_ }}</button>
                    {% endif %}
                </div>

                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-3">
                    <button type="button" class="btn btn-outline-success waves-effect rounded d-flex justify-content-center d-md-table mx-auto mt-3 appraisal-save" data-appraisal-id="{{ appraisal.id }}" data-teacher-id="{{ teacher.id }}">{{ 'appraisal.save'|_ }}</button>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript" src="{{ 'assets/js/bootstrap-4-autocomplete.js'|theme }}"></script>

    <script type="text/javascript">
        /* MDBOOTSTRAP Limitation: Trigger change value to move all input labels up. */
        $('input.form-control').change();
        $('textarea.form-control').change();
        $('input.custom-file-input').change();

        {% if 'objectives-set' == appraisal.status %}
            $('#first_skill').autocomplete({
                source: {{ skills|raw }},
                highlightClass: 'text-danger',
                treshold: 1
            });

            $('#second_skill').autocomplete({
                source: {{ skills|raw }},
                highlightClass: 'text-danger',
                treshold: 1
            });

            $('#third_skill').autocomplete({
                source: {{ skills|raw }},
                highlightClass: 'text-danger',
                treshold: 1
            });
        {% endif %}


        {% if 'objectives-set' == appraisal.status %}
            $('.appraisal-set-skills').on('click', function () {
                /* Extract the appraisal and teacher data. */
                var $appraisalId = $(this).data('appraisalId');
                var $teacherId = $(this).data('teacherId');

                /* Extract the search form input data for the update. */
                var $appraisalSearchInput = $('#appraisalSearchInput').val();
                var $appraisalSort = $('#appraisalSort').val();
                var $appraisalStatus = $('#appraisalStatus').val();
                var $appraisalYear = $('#appraisalYear').val();
                var $appraisalSemester = $('#appraisalSemester').val();
                var $newPage = $('#appraisalSearchPagination > ul > li.active').data('page');

                $('#appraisalDetails').request(
                    'onSchoolSetAppraisalSkills',
                    {
                        update: {
                            'school-appraisals/appraisal-details': '#appraisalViewEditDetails',
                            'school-appraisals/appraisal-grid': '#appraisalSearchResults',
                            'school-appraisals/appraisal-pagination': '#appraisalSearchPagination'
                        },
                        data: {
                            appraisalId: $appraisalId,
                            teacherId: $teacherId,
                            appraisalSearchInput: $appraisalSearchInput,
                            appraisalSort: $appraisalSort,
                            appraisalStatus: $appraisalStatus,
                            appraisalYear: $appraisalYear,
                            appraisalSemester: $appraisalSemester,
                            newPage: $newPage
                        },
                    }
                );
            });
        {% elseif 'skills-set' == appraisal.status %}
            $('.appraisal-close').on('click', function () {
                /* Extract the appraisal and teacher data. */
                var $appraisalId = $(this).data('appraisalId');
                var $teacherId = $(this).data('teacherId');

                /* Extract the search form input data for the update. */
                var $appraisalSearchInput = $('#appraisalSearchInput').val();
                var $appraisalSort = $('#appraisalSort').val();
                var $appraisalStatus = $('#appraisalStatus').val();
                var $appraisalYear = $('#appraisalYear').val();
                var $appraisalSemester = $('#appraisalSemester').val();
                var $newPage = $('#appraisalSearchPagination > ul > li.active').data('page');

                $('#appraisalDetails').request(
                    'onSchoolAppraisalClose',
                    {
                        update: {
                            'school-appraisals/appraisal-details': '#appraisalViewEditDetails',
                            'school-appraisals/appraisal-grid': '#appraisalSearchResults',
                            'school-appraisals/appraisal-pagination': '#appraisalSearchPagination'
                        },
                        data: {
                            appraisalId: $appraisalId,
                            teacherId: $teacherId,
                            appraisalSearchInput: $appraisalSearchInput,
                            appraisalSort: $appraisalSort,
                            appraisalStatus: $appraisalStatus,
                            appraisalYear: $appraisalYear,
                            appraisalSemester: $appraisalSemester,
                            newPage: $newPage
                        },
                    }
                );
            });
        {% endif %}

        $('.appraisal-save').on('click', function () {
                /* Extract the appraisal and teacher data. */
                var $appraisalId = $(this).data('appraisalId');
                var $teacherId = $(this).data('teacherId');

                /* Extract the search form input data for the update. */
                var $appraisalSearchInput = $('#appraisalSearchInput').val();
                var $appraisalSchools = $('#appraisalSchools').val();
                var $appraisalSort = $('#appraisalSort').val();
                var $appraisalStatus = $('#appraisalStatus').val();
                var $appraisalYear = $('#appraisalYear').val();
                var $appraisalSemester = $('#appraisalSemester').val();
                var $newPage = $('#appraisalSearchPagination > ul > li.active').data('page');

                $('#appraisalDetails').request(
                    'onSchoolSaveAppraisalObjectives',
                    {
                        update: {
                            'school-appraisals/appraisal-details': '#appraisalViewEditDetails',
                            'school-appraisals/appraisal-grid': '#appraisalSearchResults',
                            'school-appraisals/appraisal-pagination': '#appraisalSearchPagination'
                        },
                        data: {
                            appraisalId: $appraisalId,
                            teacherId: $teacherId,
                            appraisalSearchInput: $appraisalSearchInput,
                            appraisalSchools: $appraisalSchools,
                            appraisalSort: $appraisalSort,
                            appraisalStatus: $appraisalStatus,
                            appraisalYear: $appraisalYear,
                            appraisalSemester: $appraisalSemester,
                            newPage: $newPage
                        },
                    }
                );
            });
    </script>
{% endif %}
