description = "Displays the appraisal search form."

[viewBag]
==
<form id="appraisalSearchForm">
    <div id="appraisalSearchFormContent" class="input-group mb-3">

        <div class="input-group-prepend">
            <span class="input-group-text md-addon border border-white bg-white"><i class="fa fa-search"></i></span>
        </div>

        <input name="searchInput" id="appraisalSearchInput" type="text" class="form-control border border-white shadow-none" placeholder="{{ 'appraisals.appraisal-search-form.search'|_ }}" aria-label="{{ 'appraisals.appraisal-search-form.search'|_ }}">

        <div class="input-group-append">
            <select name="sort" class="browser-default custom-select border border-white shadow-none rounded-0" id="appraisalSort">
                {% for key, value in appraisalSortTypes %}
                    <option value="{{ value }}">{{ key }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-group-append">
            <select name="status" class="browser-default custom-select border border-white shadow-none rounded-0" id="appraisalStatus">
                {% for key, value in appraisalStatuses %}
                    <option value="{{ value }}">{{ key }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-group-append">
            <select name="year" class="browser-default custom-select border border-white shadow-none rounded-0" id="appraisalYear">
                {% for key, value in appraisalYears %}
                    <option value="{{ value }}">{{ key }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-group-append">
            <select name="semester" class="browser-default custom-select border border-white shadow-none rounded-0" id="appraisalSemester">
                {% for key, value in appraisalSemesters %}
                    <option value="{{ value }}">{{ key }}</option>
                {% endfor %}
            </select>
        </div>

    </div>
</form>

<script type="text/javascript" src="{{ 'assets/js/partials/school-appraisals/appraisal-search-form.js'|theme }}"></script>
