description = "Displays a appraisal save button"

[viewBag]
==
<div class="row mb-4">
    <div class="col-12 text-center text-sm-right text-md-right text-lg-right text-xl-right p-0">
        <a id="appraisal-save" class="btn btn-md btn-primary mx-0 my-2 py-2 z-depth-0 waves-effect rounded" type="button" data-id="{{ teacher.id }}">{{ 'appraisals.appraisal-edit-save-btn.save'|_ }}</a>
    </div>
</div>

<script type="text/javascript">
    $('#appraisal-save').on('click', function () {
        /* Extract the clicked teacher ID. */
        var $teacherId = $(this).data('id');

        /* Send the view request */
        $.request(
            'onTeacherView',
            {
                update: {'school-teachers/teacher-view': '#teachers-tab-content'},
                data: {teacherId: $teacherId}
            }
        );
    });
</script>
