// Your custom styles

::selection {
    color: $white;
    background: $primary-color-dark;
}
/* For Mozilla Firefox */
::-moz-selection {
    color: $white;
    background: $primary-color-dark;
}


.modal{
    overflow:hidden;
}
.modal-body{
    overflow:auto;
}

/* Appraisal statuses colors */

.appraisal-new{
    background-color: #787878 !important;
}

.appraisal-objectives-set{
    background-color: #fb3 !important;
}

.appraisal-skills-set{
    background-color: #33b5e5 !important;
}

.appraisal-closed{
    background-color: #00D857 !important;
}
