// Your custom styles

::selection {
    color: $white;
    background: $primary-color-dark;
}
/* For Mozilla Firefox */
::-moz-selection {
    color: $white;
    background: $primary-color-dark;
}


html {
    scroll-behavior: smooth;
}


.ouline-none:focus,.ouline-none:active:focus,.ouline-none.active:focus,
.ouline-none.focus,.ouline-none:active.focus,.ouline-none.active.focus {
    outline:none;
    box-shadow:none;
}
