description = "Displays a course request notifications"

[viewBag]
==

<div class="row my-3 py-2 bg-white rounded d-flex align-items-center">
    <div class="col-12">
        <button type="button" class="btn-mark-as-read-notification close learning-plan-edit-card-remove" data-notification-id="{{ notification.id }}"><span aria-hidden="true">&times;</span></button>
    </div>

    <div class="col-12">
        Profesorul {{ notification.data['teacher_name'] }} a solicitat decontarea cursului {{ notification.data['course_name'] }} cu suma în valoare de {{ notification.data['school_covered_costs'] }} {{ 'general.coin'|_ }} iar aportul personal este în valoare de {{ notification.data['teacher_covered_costs'] }} {{ 'general.coin'|_ }}.
    </div>

    <div class="col-6">
        <button type="button" class="btn-decline-course-request btn btn-outline-primary btn-sm waves-effect rounded d-flex justify-content-center d-md-table mx-auto" data-course-id="{{ notification.data['learningPlanCourse']['course_id'] }}" data-learning-plan-id="{{ notification.data['learningPlanCourse']['learning_plan_id'] }}" data-notification-id="{{ notification.id }}">{{ 'school-notifications.course-request.decline'|_ }}</button>
    </div>

    <div class="col-6">
        <button type="button" class="btn-accept-course-request btn btn-primary btn-sm waves-effect rounded d-flex justify-content-center d-md-table mx-auto" data-course-id="{{ notification.data['learningPlanCourse']['course_id'] }}" data-learning-plan-id="{{ notification.data['learningPlanCourse']['learning_plan_id'] }}" data-notification-id="{{ notification.id }}">{{ 'school-notifications.course-request.accept'|_ }}</button>
    </div>
</div>
