description = "Displays a course accepted notifications"

[viewBag]
==

<div class="row my-3 py-2 bg-white rounded d-flex align-items-center">
    <div class="col-12">
        <button type="button" class="close learning-plan-edit-card-remove" data-request="onMarkNotificationAsRead" data-request-data="notificationId: '{{ notification.id }}'" data-request-update="school-notifications/list: '#notificationsList'"><span aria-hidden="true">&times;</span></button>
    </div>

    <div class="col-12">
        Profesorul {{ notification.data['teacher_name'] }} a acceptat propunerea cursului {{ notification.data['course_name'] }} cu suma decontata in valoare de {{ notification.data['school_covered_costs'] }} Ron iar aportul profesorului in valoare de {{ notification.data['teacher_covered_costs'] }} Ron.
    </div>
</div>
