title = "Profil profesor"
url = "/tms-profil-profesor"
layout = "tms-non-static"
is_hidden = 0

[session]
security = "user"
allowedUserGroups[] = "teacher"

[account]
forceSecure = 0

[teacherProfileComponent]

[learningPlanComponent]

[appraisalComponent]

[budgetComponent]
==
<?php
    function onStart()
    {
        /* Assets for croppie module. */
        $this->addCss('assets/css/modules/croppie.css');
        $this->addJs('assets/js/modules/croppie.min.js');
    }
?>
==

<div class="containter-fluid" style="background-image: url({{ 'background-teacher.jpg'|media }}); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-black-strong">
        <div class="row m-0">
            <div class="col-12 col-sm-6 offset-sm-1 col-md-4 offset-md-2 col-lg-4 offset-lg-2 col-xl-4 offset-xl-2 bg-white h-100">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <img src="{{ (user.getAvatarThumb()) ? (user.getAvatarThumb(150)) : ('assets/img/svg/no-avatar.svg'|theme) }}" class="rounded-circle" alt="avatar" height="150">
                        </div>
                    </div>
                    <div class="col-12 p-2">
                        <div class="text-center">
                            <p class="m-0">{{ user.profile.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-white py-4">
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs col-12 col-lg-8 border-bottom-0" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active px-2 px-lg-3" id="account-tab-nav" data-toggle="tab" href="#account-tab-body" role="tab" aria-controls="account-tab-body" aria-selected="true">{{ 'teacher.profile.tab.account'|_ }}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link px-2 px-lg-3" id="notifications-tab-nav" data-toggle="tab" href="#notifications-tab-body" role="tab" aria-controls="notifications-tab-body" aria-selected="false" data-request="onViewNotifications" data-request-update="teacher-profile/notifications-tab: '#notifications-tab-content'">{{ 'teacher.profile.tab.notifications'|_ }}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link px-2 px-lg-3" id="learning-plan-tab-nav" data-toggle="tab" href="#learning-plan-tab-body" role="tab" aria-controls="learning-plan-tab-body" aria-selected="false" data-request="onTeacherViewLearningPlan" data-request-update="teacher-profile/learning-plan-tab: '#learning-plan-tab-content'">{{ 'teacher.profile.tab.learning-plan'|_ }}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link px-2 px-lg-3" id="budget-tab-nav" data-toggle="tab" href="#budget-tab-body" role="tab" aria-controls="budget-tab-body" aria-selected="false" data-request="onTeacherViewBudget" data-request-update="teacher-profile/budget-course-plan-tab: '#budget-tab-content'">{{ 'teacher.profile.tab.budget'|_ }}</a>
                </li>

                {% if profile.schools.count() %}
                    <li class="nav-item">
                        <a class="nav-link px-2 px-lg-3" id="appraisals-tab-nav" data-toggle="tab" href="#appraisals-tab-body" role="tab" aria-controls="appraisals-tab-body" aria-selected="false" data-request="onTeacherAppraisalsView" data-request-update="teacher-profile/appraisals-tab: '#appraisals-tab-content'">{{ 'teacher.profile.tab.appraisals'|_ }}</a>
                    </li>
                {% endif %}
            </ul>
            <div class="col-12 col-lg-4 d-flex align-items-lg-end flex-column mr-0 pr-0">
                <p class="p-0 m-0 small">
                    Ultima autentificare: {{ lastLogin }}
                </p>
                <p class="p-0 m-0 py-1 small">
                    Numar autentificari esuate: {{ failedLogins }}
                </p>
            </div>
            <div class="col-12 border-top m-0 p-0">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="account-tab-body" role="tabpanel" aria-labelledby="account-tab-body">
            <div class="row my-5">
                {% partial "teacher-profile/account-tab" teacherUser=user %}
            </div>
        </div>

        <div class="tab-pane fade" id="notifications-tab-body" role="tabpanel" aria-labelledby="notifications-tab-body">
            <div class="row my-5">
                <div class="col-12" id="notifications-tab-content">
                    {% partial "teacher-profile/notifications-tab" %}
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="learning-plan-tab-body" role="tabpanel" aria-labelledby="learning-plan-tab-body">
            <div class="row my-5">
                <div class="col-12" id="learning-plan-tab-content">
                    {% partial "teacher-profile/learning-plan-tab" %}
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="budget-tab-body" role="tabpanel" aria-labelledby="budget-tab-body">
            <div class="row my-5">
                <div class="col-12" id="budget-tab-content">
                    {% partial "teacher-profile/budget-course-plan-tab" %}
                </div>
            </div>
        </div>

        {% if profile.schools.count() %}
            <div class="tab-pane fade" id="appraisals-tab-body" role="tabpanel" aria-labelledby="appraisals-tab-body">
                <div class="row my-5">
                    <div class="col-12" id="appraisals-tab-content">
                        {% partial "teacher-profile/appraisals-tab" %}
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
</div>

{% put scripts %}
    <script type="text/javascript">
        const tmsTeacherProfileAnchor = window.location.hash;
        $(`a[href="${tmsTeacherProfileAnchor}"]`).tab('show');


        $.request(
            'onViewNotifications',
            {
                update: {
                    'teacher-profile/notifications-tab': '#notifications-tab-content'
                }
            }
        );

    </script>
{% endput %}
