description = "Displays a course reject notifications"

[viewBag]
==

<div class="row my-3 py-2 bg-white rounded d-flex align-items-center">
    <div class="col-12">
        <button type="button" class="btn-mark-as-read-notification close learning-plan-edit-card-remove" data-notification-id="{{ notification.id }}"><span aria-hidden="true">&times;</span></button>
    </div>

    <div class="col-12">
        Scoala {{ notification.data['school_name'] }} a refuzat cererea pentru cursul {{ notification.data['course_name'] }} cu suma decontata in valoare de {{ notification.data['school_covered_costs'] }} Ron iar aportul personal in valoare de {{ notification.data['teacher_covered_costs'] }} Ron.
    </div>
</div>
