description = "Displays a objectives aprove notifications"

[viewBag]
==

<div class="row my-3 py-2 bg-white rounded d-flex align-items-center">
    <div class="col-12">
        <button type="button" class="close learning-plan-edit-card-remove" data-request="onMarkNotificationAsRead" data-request-data="notificationId: '{{ notification.id }}'" data-request-update="{'teacher-notifications/list': '#notificationsList', 'navbar-notifications': '#notificationsSummary'}"><span aria-hidden="true">&times;</span></button>
    </div>

    <div class="col-12">
        Scoala {{ notification.data['school_name'] }} a aprobat obiectivele.
    </div>
</div>
