description = "Displays the teacher's notifications"

[viewBag]
==
<h5 class="mb-3 font-weight-bold">{{ 'teacher-profile.notifications-tab.title'|_ }}</h5>

<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="email_notifications" {% if session.user.email_notifications %} checked {% endif %}>
    <label class="custom-control-label" for="email_notifications">{{ 'teacher-profile.notifications-tab.title'|_ }}</label>
</div>

<div id="notificationsList">
    {% partial "teacher-notifications/list" %}
</div>

<script type="text/javascript">
    $('#email_notifications').on('change', function () {
        var $emailNotifications = ($('#email_notifications').prop('checked')) ? (1) : (0);

        $.request(
            'onEmailNotificationsUpdate',
            {
                update: {'course-grid': '#courseSearchResults', 'course-search-pagination': '#courseSearchPagination'},
                data: {emailNotifications: $emailNotifications}
            }
        );
    });
</script>
