description = "Displays a learning plan as a list and the list of courses"

[viewBag]
==
<div id="learningPlanCardList">
    {% partial "learning-plans/learning-plan-edit-card-list" %}
</div>

{% partial "learning-plans/learning-plan-edit-save-btn" %}

<div class="mb-5"></div>

<!--Courses Section-->
{% partial "learning-plans/learning-plan-course-search-form" %}

<h5 class="mb-3 font-weight-bold">{{ 'learning-plans.learning-plan-edit.courses_title'|_ }}</h5>

<div id="learningPlanCourseSearchResults">
    {% partial "learning-plans/learning-plan-course-grid" %}
</div>
<div id="learningPlanCourseSearchPagination">
    {% partial "learning-plans/learning-plan-course-pagination" %}
</div>
<!--/.Courses Section-->
