description = "Displays a carousel that has more items per page"

[viewBag]
==

<!--Carousel Wrapper-->
<div id="carousel-multiple-courses-{{ id }}" class="carousel slide" data-ride="carousel" data-touch="true">
    <div class="carousel-inner carousel-inner-{{ id }} row w-100 mx-auto" role="listbox">

        {% for learningPlanCourse in learningPlanCourses %}
            <div class="carousel-item carousel-item-{{ id }} col-12 col-sm-6 col-md-4 col-lg-4 py-2 {{ loop.first ? 'active' : '' }}">
                {% partial "learning-plans/learning-plan-declined-requests-card" course=learningPlanCourse.course %}
            </div>
        {% endfor %}

    </div>

    <!--Controls-->
    <a class="tms-carousel-control-prev carousel-control-prev carousel-control-bg-invert" href="#carousel-multiple-courses-{{ id }}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">{{ 'carousel.previous'|_ }}</span>
    </a>
    <a class="tms-carousel-control-next carousel-control-next carousel-control-bg-invert" href="#carousel-multiple-courses-{{ id }}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">{{ 'carousel.next'|_ }}</span>
    </a>
    <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

<script
    type="text/javascript"
    id="learning-plan-declined-requests-slider"
    data-id="{{ id }}"
    src="{{ 'assets/js/partials/learning-plans/learning-plan-declined-requests-slider.js'|theme }}">
</script>
