description = "Displays a request course as a card"

[viewBag]
==
<div class="card">
    <div class="card-header" style="background-color: {{ course.color }} !important;">

        <div class="row w-100 m-0">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-left p-0 m-0">
                {% if 1 == course.accredited %}
                    <p class="small m-0 text-white"><img class="mr-1" src="{{ 'assets/img/svg/w-acknowledged.svg'|theme }}" alt="">  {{ 'course.acknowledged'|_ }}</p>
                {% else %}
                    <p class="small m-0 text-white"><img class="mr-1" src="{{ 'assets/img/svg/w-unacknowledged.svg'|theme }}" alt="">  {{ 'course.unacknowledged'|_ }}</p>
                {% endif %}
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-right p-0 m-0">
                {% if 1 == course.accredited %}
                    <p class="small m-0 text-white">{{ course.credits }} {{ 'course.credits'|_ }} <span class="mx-1">&vert;</span> {{ course.price }} {{ 'general.coin'|_ }}</p>
                {% else %}
                    <p class="small m-0 text-white">{{ course.price }} {{ 'general.coin'|_ }}</p>
                {% endif %}
            </div>
        </div>

    </div>
    <div class="card-body">

        <p class="card-text text-truncate m-0">{{ course.supplier.name }}</p>

        <div class="align-items-center d-flex tms-card-max-lines">
            <h5 class="card-title font-weight-bold">{{ course.name }}</h5>
        </div>

        <p class="card-text text-truncate">{{ course.description }}</p>

        <small class="card-text align-middle"><img class="mr-1" src="{{ 'assets/img/svg/calendar.svg'|theme }}" alt=""> {{ course.startDate() }} <span class="mx-1">&ndash;</span> {{ course.endDate() }}</small><br>
        <small class="card-text align-middle d-block text-truncate">{{ 'course.domain'|_ }}<span class="mr-1">&colon;</span>
            <span style="color: {{ course.color }} !important;">
                {% for category in course.categories %}
                    {{ category.name }}
                    {% if course.categories.last() != category %}
                        <span class="mr-1">&comma;</span>
                    {% endif %}
                {% endfor %}
            </span>
        </small>

    </div>
</div>
