description = "Displays a learning plan save button"

[viewBag]
==
<div class="row ">
    <div class="col-12 text-center text-sm-right text-md-right text-lg-right text-xl-right p-0">
        <a id="learning-plan-edit" class="btn btn-md btn-secondary mx-0 my-2 py-2 z-depth-0 waves-effect rounded" type="button" data-id="{{ learningPlan.id }}">{{ 'learning-plans.learning-plan-btn-save.save'|_ }}</a>
    </div>
</div>

<script type="text/javascript">
    $('#learning-plan-edit').on('click', function () {
        /* Extract the clicked learning plan ID. */
        var $learningPlanId = $(this).data('id');

        /* Send the view request */
        $.request(
            'onLearningPlanEdit',
            {
                update: {'learning-plans/learning-plan-edit': '#teachers-tab-content'},
                data: {learningPlanId: $learningPlanId}
            }
        );
    });
</script>
