description = "Modal that specifies how a course is added to a learning plan"

[viewBag]
==

<div class="modal fade" id="learning-plan-course-add-modal" tabindex="-1" role="dialog" aria-labelledby="learning-plan-course-add-modal" aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title w-100">{{ 'learning-plan-course-add-modal.title'|_ }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-12">

                        <form id="learning-plan-course-add-modal-form" data-request-validate data-request-flash>

                            <div class="form-group">
                                <div class="md-form">
                                    <input name="deduct" type="number" id="deduct" class="form-control">
                                    <label for="deduct">{{ 'learning-plans.learning-plan-course-add-modal.deduct'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="deduct"></div>
                                </div>
                            </div>

                            <div class="form-check">
                                <input name="mandatory" type="checkbox" class="form-check-input" id="mandatory">
                                <label class="form-check-label" for="mandatory">{{ 'learning-plans.learning-plan-course-add-modal.mandatory'|_ }}</label>
                                <div class="small text-danger" data-validate-for="name"></div>
                            </div>

                            <input name="course_id" id="course_id" hidden>

                        </div>
                    </div>
                </div>

                <div class="row align-items-start d-none d-sm-flex d-md-flex d-lg-flex d-xl-flex">
                    <div class="col-12">
                        <button id="learning-plan-course-add-modal-add" type="button" class="btn btl-lg btn-block btn-secondary rounded mt-3" data-dismiss="modal" data-toggle="modal">{{ 'learning-plans.learning-plan-course-add-modal.add'|_ }}</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript">
    /* Function that saves the ID of the course that was clicked. */
    $('#learning-plan-course-add-modal').on('show.bs.modal', function (event) {
        alert($(event.relatedTarget));
        console.log($(event.relatedTarget));
        alert($(event.relatedTarget).data('id'));
        $('#course_id').val($(event.relatedTarget).data('id'));
    });

    $('#learning-plan-course-add-modal-add').on('click', function () {
        /* Extract the clicked course ID. */
        var $learningPlanId = $(this).data('id');

        /* Extract the search form input data for the update. */
        var $learningPlanCourseSearchInput = $('learningPlanCourseSearchInput').val();
        var $learningPlanCourseSort = $('learningPlanCourseSort').val();
        var $learningPlanCourseCategory = $('learningPlanCourseCategory').val();
        var $learningPlanCourseAccreditation = $('learningPlanCourseAccreditation').val();
        /* Extract the active page. */
        var $newPage = $('#courseSearchPagination > ul > li.active').data('page');

        $('#learning-plan-course-add-modal-form').request(
            'onLearningPlanCourseAdd',
            {
                update: {
                    'learning-plans/learning-plan-edit-card-list': '#learningPlanCardList',
                    'learning-plans/learning-plan-course-grid': '#learningPlanCourseSearchResults',
                    'learning-plans/learning-plan-course-pagination': '#learningPlanCourseSearchPagination'
                },
                data: {
                    learningPlanId: $learningPlanId,
                    learningPlanCourseSearchInput: $learningPlanCourseSearchInput,
                    learningPlanCourseSort: $learningPlanCourseSort,
                    learningPlanCourseCategory: $learningPlanCourseCategory,
                    learningPlanCourseAccreditation: $learningPlanCourseAccreditation,
                    page: $newPage,
                }
            }
        );
    });
</script>
