description = "Displays the teacher's budget courses"

[viewBag]
==
<div id="budgetSummary">
    {% partial "teacher-budgets/budget-summary" teacher=learningPlan.teacher %}
</div>

<!--Courses Search Section-->
{% partial "teacher-budgets/budget-course-search-form" %}
<!--/.Courses Search Section-->

<!--Categories Section-->
<div id="budgetCategories">
    {% partial "teacher-budgets/budget-category-grid" %}
</div>
<!--/.Categories Section-->

<!--Courses Section-->
<div id="budgetCourseSearchResults">
    {% partial "teacher-budgets/budget-course-grid" %}
</div>
<div id="budgetCourseSearchPagination">
    {% partial "teacher-budgets/budget-course-pagination" %}
</div>

<!--/.Courses Section-->
