description = "Displays the budget course search pagination."

[viewBag]
==
<ul class="pagination pg-darkgrey justify-content-center">
    {% if 1 < budgetCoursesPage %}
        <li class="page-item" data-page="{{ 1 }}">
            <a class="page-link budget-course-search-pagination" data-page="{{ 1 }}">&Lang;</a>
        </li>

        <li class="page-item" data-page="{{ budgetCoursesPage - 1 }}">
            <a class="page-link budget-course-search-pagination" data-page="{{ budgetCoursesPage - 1 }}">&lang;</a>
        </li>
    {% endif %}

    {% set cells = 5 %}
    {% for i in budgetCoursesPage..budgetCoursesPages if cells %}
        {% if i == budgetCoursesPage %}
            <li class="page-item active" data-page="{{ i }}">
                <a class="page-link budget-course-search-pagination" data-page="{{ i }}">{{ i }}</a>
            </li>
        {% else %}
            <li class="page-item" data-page="{{ i }}">
                <a class="page-link budget-course-search-pagination" data-page="{{ i }}">{{ i }}</a>
            </li>
        {% endif %}
        {% set cells = (cells - 1) %}
    {% endfor %}

    {% if budgetCoursesPage < budgetCoursesPages %}
        <li class="page-item" data-page="{{ budgetCoursesPage + 1 }}">
            <a class="page-link budget-course-search-pagination" data-page="{{ budgetCoursesPage + 1 }}">&rang;</a>
        </li>

        <li class="page-item" data-page="{{ budgetCoursesPages }}">
            <a class="page-link budget-course-search-pagination" data-page="{{ budgetCoursesPages }}">&Rang;</a>
        </li>
    {% endif %}
</ul>

<script type="text/javascript" src="{{ 'assets/js/partials/teacher-budgets/budget-course-pagination.js'|theme }}"></script>
