description = "Displays the budget course search pagination."

[viewBag]
==
{% if 1 < budgetCoursesPages %}
    <ul class="pagination pg-darkgrey justify-content-center">
        {% if 1 < budgetCoursesPage %}
            <li class="page-item" data-page="{{ 1 }}">
                <a class="page-link budget-course-search-pagination" data-page="{{ 1 }}">&Lang;</a>
            </li>

            <li class="page-item" data-page="{{ budgetCoursesPage - 1 }}">
                <a class="page-link budget-course-search-pagination" data-page="{{ budgetCoursesPage - 1 }}">&lang;</a>
            </li>
        {% endif %}

        {% set cells = 5 %}
        {% for i in budgetCoursesPage..budgetCoursesPages if cells %}
            {% if i == budgetCoursesPage %}
                <li class="page-item active" data-page="{{ i }}">
                    <a class="page-link budget-course-search-pagination" data-page="{{ i }}">{{ i }}</a>
                </li>
            {% else %}
                <li class="page-item" data-page="{{ i }}">
                    <a class="page-link budget-course-search-pagination" data-page="{{ i }}">{{ i }}</a>
                </li>
            {% endif %}
            {% set cells = (cells - 1) %}
        {% endfor %}

        {% if budgetCoursesPage < budgetCoursesPages %}
            <li class="page-item" data-page="{{ budgetCoursesPage + 1 }}">
                <a class="page-link budget-course-search-pagination" data-page="{{ budgetCoursesPage + 1 }}">&rang;</a>
            </li>

            <li class="page-item" data-page="{{ budgetCoursesPages }}">
                <a class="page-link budget-course-search-pagination" data-page="{{ budgetCoursesPages }}">&Rang;</a>
            </li>
        {% endif %}
    </ul>
{% endif %}

<script type="text/javascript">
    $('.budget-course-search-pagination').on('click', function () {
        /* Extract the clicked page. */
        var $newPage = $(this).data('page');

        /* Select the course select form and send the request */
        $('#budgetCourseSearchForm').request(
            'onTeacherBudgetCourseSearch',
            {
                update: {
                    'teacher-budgets/budget-summary': '#budgetSummary',
                    'teacher-budgets/budget-category-grid': '#budgetCategories',
                    'teacher-budgets/budget-course-grid': '#budgetCourseSearchResults',
                    'teacher-budgets/budget-course-pagination': '#budgetCourseSearchPagination',
                },
                data: { page: $newPage }
            }
        );
    });
</script>
