description = "Displays the budget course search pagination."

[viewBag]
==
<ul class="pagination pg-darkgrey justify-content-center">
    {% for i in 1..budgetCoursesPages %}
        {% if i == budgetCoursesPage %}
            <li class="page-item active" data-page="{{ i }}">
                <a class="page-link budget-course-search-pagination" data-page="{{ i }}" data-id="{{ budget.id }}">{{ i }}</a>
            </li>
        {% else %}
            <li class="page-item" data-page="{{ i }}" data-id="{{ budget.id }}">
                <a class="page-link budget-course-search-pagination" data-page="{{ i }}" data-id="{{ budget.id }}">{{ i }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<script type="text/javascript">
    $('.budget-course-search-pagination').on('click', function () {
        /* Extract the clicked page. */
        var $newPage = $(this).data('page');
        /* Extract the active teacher ID. */
        var $teacherId = $('#budgetCourseSearchPagination > ul > li.active').data('id');

        /* Select the course select form and send the request */
        $('#budgetCourseSearchForm').request(
            'onTeacherBudgetCourseSearch',
            {
                update: {
                    'teacher-budgets/budget-course-grid': '#budgetCourseSearchResults',
                    'teacher-budgets/budget-course-pagination': '#budgetCourseSearchPagination',
                    'teacher-budgets/budget-course-summary': '#budgetCourseSummary'
                },
                data: {
                    page: $newPage,
                    teacherId: $teacherId
                }
            }
        );
    });
</script>
