description = "Displays a learning plan edit button"

[viewBag]
==
<div class="row mb-4">
    <div class="col-12 text-center text-sm-right text-md-right text-lg-right text-xl-right p-0">
        <a id="learning-plan-edit" class="btn btn-md btn-primary mx-0 my-2 py-2 z-depth-0 waves-effect rounded" type="button" data-id="{{ learningPlan.id }}">{{ 'learning-plans.learning-plan-edit-btn.edit'|_ }}</a>
    </div>
</div>

<script
    nonce="{{ csp_nonce }}"
    data-cspNonce="{{ csp_nonce }}"
    type="text/javascript"
    id="partial-learning-plan-edit-btn"
    src="{{ 'assets/js/partials/teacher-learning-plans/learning-plan-edit-btn.js'|theme }}">
</script>
