description = "Displays the learning plan course search form."

[viewBag]
==
<form id="learningPlanCourseSearchForm">
    <div id="learningPlanCourseSearchFormContent" class="input-group mb-3">

        <div class="input-group-prepend">
            <span class="input-group-text md-addon border border-white bg-white"><i class="fa fa-search"></i></span>
        </div>

        <input name="searchInput" id="learningPlanCourseSearchInput" type="text" class="form-control border border-white shadow-none" placeholder="{{ 'learning-plans.learning-plan-course-search-form.search'|_ }}" aria-label="{{ 'learning-plans.learning-plan-course-search-form.search'|_ }}">

        <div class="input-group-append">
            <select name="sort" class="browser-default custom-select border border-white shadow-none rounded-0" id="learningPlanCourseSort">
                {% for key, value in learningPlanCourseSortTypes %}
                    <option value="{{ value }}"  {% if 'start_date asc' == value %} selected {% endif %}>{{ key }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-group-append">
            <select name="category" class="browser-default custom-select border border-white shadow-none rounded-0" id="learningPlanCourseCategory">
                {% for key, value in learningPlanCourseCategories %}
                    <option value="{{ value }}">{{ str_limit(key, 30) }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-group-append">
            <select name="accreditation" class="browser-default custom-select border border-white shadow-none rounded-0" id="learningPlanCourseAccreditation">
                {% for key, value in learningPlanCourseAccreditations %}
                    <option value="{{ value }}">{{ key }}</option>
                {% endfor %}
            </select>
        </div>

    </div>
</form>

<script type="text/javascript" src="{{ 'assets/js/partials/teacher-learning-plans/learning-plan-course-search-form.js'|theme }}"></script>
