description = "Displays a grid of learning plan courses"

[viewBag]
==

<div class="container p-0 my-4">
    <div class="row">

        {% for learningPlanCourse in learningPlanCourses %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-4">
                {% partial "teacher-learning-plans/learning-plan-course-card" learningPlanCourse=learningPlanCourse %}
            </div>
        {% endfor %}

    </div>
</div>


{% if not schools %}
    <script
        nonce="{{ csp_nonce }}"
        data-cspNonce="{{ csp_nonce }}"
        type="text/javascript"
        id="partial-learning-plan-course-grid"
        src="{{ 'assets/js/partials/teacher-learning-plans/learning-plan-course-grid.js'|theme }}">
    </script>
{% endif %}
