description = "Modal that specifies how a course is added to a learning plan"

[viewBag]
==

<div class="modal fade" id="learning-plan-course-add-modal" tabindex="-1" role="dialog" aria-labelledby="learning-plan-course-add-modal" aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title w-100">{{ 'teacher-learning-plans.learning-plan-course-add-modal.title'|_ }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'teacher-learning-plans.learning-plan-course-add-modal.close'|_ }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="learning-plan-course-add-modal-form" data-request-data="noSearch: 'true'" data-request-validate data-request-flash>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="md-form">
                                    <input name="school" type="text" id="school" class="form-control">
                                    <label for="school">{{ 'teacher-learning-plans.learning-plan-course-add-modal.school'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="school"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-check">
                                <input name="transport_covered" type="checkbox" class="form-check-input" id="transport_covered">
                                <label class="form-check-label" for="transport_covered">{{ 'learning-plans.learning-plan-course-add-modal.transport_covered'|_ }}</label>
                                <div class="small text-danger" data-validate-for="name"></div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-check">
                                <input name="accommodation_covered" type="checkbox" class="form-check-input" id="accommodation_covered">
                                <label class="form-check-label" for="accommodation_covered">{{ 'learning-plans.learning-plan-course-add-modal.accommodation_covered'|_ }}</label>
                                <div class="small text-danger" data-validate-for="name"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="md-form">
                                    <input name="school_covered_costs" type="number" id="school_covered_costs" class="form-control">
                                    <label for="school_covered_costs">{{ 'teacher-learning-plans.learning-plan-course-add-modal.school_covered_costs'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="school_covered_costs"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input name="learningPlanId" id="learningPlanId" hidden>
                    <input name="courseId" id="courseId" hidden>


                    <div class="row align-items-start d-none d-sm-flex d-md-flex d-lg-flex d-xl-flex">
                        <div class="col-12">
                            <button id="learning-plan-course-add-modal-add" type="submit" class="btn btn-lg btn-block btn-primary rounded mt-3">{{ 'teacher-learning-plans.learning-plan-course-add-modal.add'|_ }}</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript" src="{{ 'assets/js/bootstrap-4-autocomplete.js'|theme }}"></script>

<script id="learning-plan-course-add-modal" data-schools="{{user.profile.schools_list|raw}}" src="{{ ['assets/js/partials/teacher-learning-plans/learning-plan-course-add-modal.js']|theme }}"></script>
