description = "Displays a add or remove button in the course page"

[viewBag]
==
<?php
    use Genuineq\Tms\Models\Course;

    function onStart()
    {
        $this['partialCourse'] = Course::whereSlug($this->param('slug'))->first();
    }
?>
==
{% set user = session.user %}
{% set learningPlan = session.user.profile.active_learning_plan %}

{% if learningPlan.hasCourse(partialCourse.id) %}
    <a href="#" class="btn btn-sm btn-danger z-depth-0 rounded m-0 learning-plan-remove-course" type="button" data-learning-plan-id="{{ learningPlan.id }}" data-course-id="{{ partialCourse.id }}">{{ 'teacher-learning-plans.learning-plan-course-add-remove.remove'|_ }}</a>

    <script src="{{ ['assets/js/partials/teacher-learning-plans/learning-plan-course-add-remove-btn1.js']|theme }}"></script>
{% else %}
    {% if user.profile.has_schools %}
        <a href="#" class="btn btn-sm btn-primary z-depth-0 rounded m-0 learning-plan-add-course" type="button" data-toggle="modal" data-target="#learning-plan-course-add-modal" data-learning-plan-id="{{ learningPlan.id }}" data-course-id="{{ partialCourse.id }}">{{ 'teacher-learning-plans.learning-plan-course-add-remove.add'|_ }}</a>

        {% partial "teacher-learning-plans/learning-plan-course-add-modal" %}
    {% else %}
        <a href="#" class="btn btn-sm btn-primary z-depth-0 rounded m-0 learning-plan-add-course" type="button" data-learning-plan-id="{{ learningPlan.id }}" data-course-id="{{ partialCourse.id }}">{{ 'teacher-learning-plans.learning-plan-course-add-remove.add'|_ }}</a>

        <script src="{{ ['assets/js/partials/teacher-learning-plans/learning-plan-course-add-remove-btn2.js']|theme }}"></script>
    {% endif %}
{% endif %}
