[viewBag]

[staticMenu]
code = "main-menu"
==
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-white z-depth-0">

    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="/">
            <img src="{{ 'assets/img/svg/logo.svg'|theme }}" height="30" alt="mdb logo">
        </a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            {% if staticMenu.totalItems %}
                <!-- Links -->
                <ul class="navbar-nav ml-auto">
                    {% for menuItem in staticMenu.menuItems %}
                        <li class="nav-item {% if menuItem.isActive %} active {% endif %}">
                            <a class="nav-link" href="{{ menuItem.url }} ">
                                {{ menuItem.title }}
                                {% if this.page.title == menuItem.title %} <span class="sr-only">(current)</span>{% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <!-- Links -->
            {% endif %}

            <div class="border-left border-dark mx-3"></div>

            <a href="#" class="btn btn-sm align-middle btn-outline-black z-depth-0 rounded ml-0" type="button">Log In</a>
            <a href="#" class="btn btn-sm btn-success z-depth-0 rounded" type="button">Sign Up</a>

        </div>
        <!-- Collapsible content -->
    </div>

</nav>
<!--/.Navbar-->
