description = "Modal allows to update the budget"

[viewBag]
==

<div class="modal fade" id="budget-update-modal" tabindex="-1" role="dialog" aria-labelledby="budget-update-modal" aria-hidden="true">

    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title w-100">{{ 'school-dashboards.budget-update-modal.title'|_ }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'school-dashboards.budget-update-modal.close'|_ }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-12">

                        <form id="school-budget-update-modal-form" data-request-validate data-request-flash>

                            <div class="form-group">
                                <div class="md-form">
                                    <input name="budget" type="number" step="0.0001" min="0" id="school_budget" class="form-control" value="">
                                    <label for="school_budget">{{ 'school-dashboards.budget-update-modal.budget'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="budget"></div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>

                <div class="row align-items-start d-none d-sm-flex d-md-flex d-lg-flex d-xl-flex">
                    <div class="col-12">
                        <button id="school-budget-update-modal-add" type="button" class="btn btn-lg btn-block btn-primary rounded mt-3" data-dismiss="modal" data-toggle="modal">{{ 'school-dashboards.budget-update-modal.save'|_ }}</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript" src="{{ 'assets/js/partials/school-dashboard/budget-update-modal.js'|theme }}"></script>
