description = "Displays the paid courses graphic"

[viewBag]
==
<canvas id="paidCourses"></canvas>

<script
    nonce="{{ csp_nonce }}"
    type="text/javascript"
    id="partial-graph-paid-courses"
    data-schoolPaidCoursesLabel="{{ schoolPaidCoursesLabel }}"
    data-teachersPaidCoursesLabel="{{ teachersPaidCoursesLael }}"
    data-schoolPaidCourses="{{ schoolPaidCourses }}"
    data-teachersPaidCourses="{{ teachersPaidCourses }}"
    src="{{ 'assets/js/partials/school-dashboard/graph-paid-courses.js'|theme }}">
</script>
