description = "Displays the accredited courses graphic"

[viewBag]
==
<canvas id="accreditedCourses"></canvas>

<script
    nonce="{{ csp_nonce }}"
    type="text/javascript"
    id="partial-graph-accredited-courses"
    data-accreditedLabel="{{ accreditedCoursesLabel }}"
    data-noncreditedLabel="{{ noncreditedCoursesLabel }}"
    data-accreditedCourses="{{ accreditedCourses }}"
    data-noncreditedCourses="{{ noncreditedCourses }}"
    src="{{ 'assets/js/partials/school-dashboard/graph-accredited-courses.js'|theme }}">
</script>
