description = "Displays the distributed costs graphic"

[viewBag]
==
<canvas id="barChart"></canvas>

<script type="text/javascript">
    var ctxB = document.getElementById("barChart").getContext('2d');

    var myBarChart = new Chart(ctxB, {
        type: 'bar',
        data: {
            labels: ["{{ distributedLabels['0'] }}", "{{ distributedLabels['1'] }}", "{{ distributedLabels['2'] }}", "{{ distributedLabels['3'] }}", "{{ distributedLabels['4'] }}", "{{ distributedLabels['5'] }}"],
            datasets: [
                {% for distributedCostsLabel in distributedCostsLabels %}
                    {
                        label: '{{ distributedCostsLabel }}',
                        data: [{{ distributedCosts[loop.index0]['0'] }}, {{ distributedCosts[loop.index0]['1'] }}, {{ distributedCosts[loop.index0]['2'] }}, {{ distributedCosts[loop.index0]['3'] }}, {{ distributedCosts[loop.index0]['4'] }}, {{ distributedCosts[loop.index0]['5'] }}],
                        backgroundColor: [
                            '{{ distributedCostsColor[loop.index0] }}',
                            '{{ distributedCostsColor[loop.index0] }}',
                            '{{ distributedCostsColor[loop.index0] }}',
                            '{{ distributedCostsColor[loop.index0] }}',
                            '{{ distributedCostsColor[loop.index0] }}',
                            '{{ distributedCostsColor[loop.index0] }}'
                        ],
                        borderColor: [
                            '{{ distributedCostsBorderColor[loop.index0] }}',
                            '{{ distributedCostsBorderColor[loop.index0] }}',
                            '{{ distributedCostsBorderColor[loop.index0] }}',
                            '{{ distributedCostsBorderColor[loop.index0] }}',
                            '{{ distributedCostsBorderColor[loop.index0] }}',
                            '{{ distributedCostsBorderColor[loop.index0] }}'
                        ],
                        borderWidth: 1
                    },
                {% endfor %}
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
