description = "Displays the teacher seniorities graphic"

[viewBag]
==
<canvas id="teacherSeniorities"></canvas>

<script
    type="text/javascript"
    id="graph-teacher-seniorities"
    data-senioritiesLabels1 ="{{senioritiesLabels[1]}}"
    data-senioritiesLabels2 ="{{senioritiesLabels[2]}}"
    data-senioritiesLabels3 ="{{senioritiesLabels[3]}}"
    data-senioritiesLabels4 ="{{senioritiesLabels[4]}}"
    data-senioritiesLabels5 ="{{senioritiesLabels[5]}}"
    data-seniorities1 = "{{seniorities[1]}}"
    data-seniorities2 = "{{seniorities[2]}}"
    data-seniorities3 = "{{seniorities[3]}}"
    data-seniorities4 = "{{seniorities[4]}}"
    data-seniorities5 = "{{seniorities[5]}}"
    src="{{ 'assets/js/partials/school-dashboard/graph-teacher-seniorites.js'|theme }}">
</script>
