description = "Displays the distributed costs graphic"

[viewBag]
==
<canvas id="barChart"></canvas>

<script
    nonce="{{ csp_nonce }}"
    type="text/javascript"
    id="partial-graph-distributed-costs"
    data-distributedLabels = '
        {
            {% for distributedCostsLabel in distributedLabels %}
                {% if not loop.last %}
                    "{{ loop.index0 }}":"{{ distributedLabels[loop.index0] }}",
                {% else %}
                    "{{ loop.index0 }}":"{{ distributedLabels[loop.index0] }}"
                {% endif %}
            {% endfor %}
        }'
    data-distributedCostsLabels = '
        {
            {% for distributedCostsLabel in distributedCostsLabels %}
                {% if not loop.last %}
                    "{{ loop.index0 }}":"{{ distributedCostsLabels[loop.index0] }}",
                {% else %}
                    "{{ loop.index0 }}":"{{ distributedCostsLabels[loop.index0] }}"
                {% endif %}
            {% endfor %}
        }'
    data-distributedCosts = '
        {
            {% for distributedCostsLabel in distributedCostsLabels %}
                {% if not loop.last %}
                    "{{ loop.index0 }}":{
                        "0":"{{ distributedCosts[loop.index0]['0'] }}",
                        "1":"{{ distributedCosts[loop.index0]['1'] }}",
                        "2":"{{ distributedCosts[loop.index0]['2'] }}",
                        "3":"{{ distributedCosts[loop.index0]['3'] }}",
                        "4":"{{ distributedCosts[loop.index0]['4'] }}",
                        "5":"{{ distributedCosts[loop.index0]['5'] }}"
                    },
                {% else %}
                    "{{ loop.index0 }}":{
                        "0":"{{ distributedCosts[loop.index0]['0'] }}",
                        "1":"{{ distributedCosts[loop.index0]['1'] }}",
                        "2":"{{ distributedCosts[loop.index0]['2'] }}",
                        "3":"{{ distributedCosts[loop.index0]['3'] }}",
                        "4":"{{ distributedCosts[loop.index0]['4'] }}",
                        "5":"{{ distributedCosts[loop.index0]['5'] }}"
                    }
                {% endif %}
            {% endfor %}
        }'
    data-distributedCostsColor = '
        {
            {% for distributedCostsLabel in distributedCostsLabels %}
                {% if not loop.last %}
                    "{{ loop.index0 }}":"{{ distributedCostsColor[loop.index0] }}",
                {% else %}
                    "{{ loop.index0 }}":"{{ distributedCostsColor[loop.index0] }}"
                {% endif %}
            {% endfor %}
        }'
    data-distributedCostsBorderColor = '
        {
            {% for distributedCostsLabel in distributedCostsLabels %}
                {% if not loop.last %}
                    "{{ loop.index0 }}":"{{ distributedCostsBorderColor[loop.index0] }}",
                {% else %}
                    "{{ loop.index0 }}":"{{ distributedCostsBorderColor[loop.index0] }}"
                {% endif %}
            {% endfor %}
        }'
    src="{{ 'assets/js/partials/school-dashboard/graph-distributed-costs.js'|theme }}">
</script>
