description = "Modal that displays a form to create a new teacher."

[viewBag]
==

<div class="modal fade" id="teacher-add-modal" tabindex="-1" role="dialog" aria-labelledby="teacher-add-modal" aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title w-100">{{ 'teacher-add-modal.title'|_ }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form id="schoolTeacherAdd" method="POST" data-request-validate data-request-flash>
                    <div class="row">

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <div class="md-form">
                                    <input name="school_teacher_add_name" type="text" id="school_teacher_add_name" class="form-control">
                                    <label for="school_teacher_add_name">{{ 'teacher.profile.name'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="school_teacher_add_name"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <div class="md-form">
                                    <input name="school_teacher_add_email" type="email" id="school_teacher_add_email" class="form-control">
                                    <label for="school_teacher_add_email">{{ 'teacher.profile.email'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="school_teacher_add_email"></div>
                                </div>
                            </div>
                        </div>


                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <div class="md-form">
                                    <input name="school_teacher_add_sid" type="number" id="school_teacher_add_sid" class="form-control">
                                    <label for="school_teacher_add_sid">{{ 'teacher.profile.sid'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="school_teacher_add_sid"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <div class="md-form">
                                    <input name="school_teacher_add_phone" type="text" id="school_teacher_add_phone" class="form-control">
                                    <label for="school_teacher_add_phone">{{ 'teacher.profile.phone'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="school_teacher_add_phone"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <div class="md-form">
                                    <input name="school_teacher_add_birth_date" type="text" id="school_teacher_add_birth_date" class="form-control">
                                    <label for="school_teacher_add_birth_date">{{ 'teacher.profile.birth_date'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="school_teacher_add_birth_date"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <div class="md-form">
                                    <textarea name="school_teacher_add_description" type="text" id="school_teacher_add_description" class="md-textarea form-control" rows="3"></textarea>
                                    <label for="school_teacher_add_description">{{ 'teacher.profile.description'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="school_teacher_add_description"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <div class="md-form">
                                    <input name="school_teacher_add_address_id" type="text" id="school_teacher_add_address_id" class="form-control">
                                    <label for="school_teacher_add_address_id">{{ 'teacher.profile.address_id'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="school_teacher_add_address_id"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <div class="md-form">
                                    <input name="school_teacher_add_seniority_level_id" type="text" id="school_teacher_add_seniority_level_id" class="form-control">
                                    <label for="school_teacher_add_seniority_level_id">{{ 'teacher.profile.seniority_level_id'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="school_teacher_add_seniority_level_id"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <div class="md-form">
                                    <input name="school_teacher_add_school_level_1_id" type="text" id="school_teacher_add_school_level_1_id" class="form-control">
                                    <label for="school_teacher_add_school_level_1_id">{{ ('teacher.profile.school_level_id'|_) ~ ' 1' }}</label>
                                    <div class="small text-danger" data-validate-for="school_teacher_add_school_level_1_id"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <div class="md-form">
                                    <input name="school_teacher_add_school_level_2_id" type="text" id="school_teacher_add_school_level_2_id" class="form-control">
                                    <label for="school_teacher_add_school_level_2_id">{{ ('teacher.profile.school_level_id'|_) ~ ' 2' }}</label>
                                    <div class="small text-danger" data-validate-for="school_teacher_add_school_level_2_id"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <div class="md-form">
                                    <input name="school_teacher_add_school_level_3_id" type="text" id="school_teacher_add_school_level_3_id" class="form-control">
                                    <label for="school_teacher_add_school_level_3_id">{{ ('teacher.profile.school_level_id'|_) ~ ' 3' }}</label>
                                    <div class="small text-danger" data-validate-for="school_teacher_add_school_level_3_id"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <div class="md-form">
                                    <input name="school_teacher_add_contract_type_id" type="text" id="school_teacher_add_contract_type_id" class="form-control">
                                    <label for="school_teacher_add_contract_type_id">{{ 'teacher.profile.contract_type_id'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="school_teacher_add_contract_type_id"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <div class="md-form">
                                    <input name="school_teacher_add_grade_id" type="text" id="school_teacher_add_grade_id" class="form-control">
                                    <label for="school_teacher_add_grade_id">{{ 'teacher.profile.form.profile.grade_id'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="school_teacher_add_grade_id"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <div class="md-form">
                                    <input name="school_teacher_add_specialization_1_id" type="text" id="school_teacher_add_specialization_1_id" class="form-control">
                                    <label for="school_teacher_add_specialization_1_id">{{ 'teacher.profile.form.profile.specialization_1_id'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="school_teacher_add_specialization_1_id"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <div class="md-form">
                                    <input name="school_teacher_add_specialization_2_id" type="text" id="school_teacher_add_specialization_2_id" class="form-control">
                                    <label for="school_teacher_add_specialization_2_id">{{ 'teacher.profile.form.profile.specialization_2_id'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="school_teacher_add_specialization_2_id"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-md btn-block btn-primary rounded m-0 btn-block" data-attach-loading>{{'teacher.profile.save'|_ }}</button>
                        </div>

                    </div>
                </form>

            </div>

        </div>
    </div>

</div>

<script type="text/javascript" src="{{ 'assets/js/bootstrap-4-autocomplete.js'|theme }}"></script>

<div>
    some some texttt
    {{schoolTeacherAddresses|raw}}
    {{schoolTeacherContractTypes|raw}}
</div>

<script
    id="teacher-add-modal"
    data-schoolTeacherAddresses = "{{ schoolTeacherAddresses|raw }}"
    data-schoolTeacherSeniorityLevels = "{{ schoolTeacherSeniorityLevels|raw }}"
    data-schoolTeacherSchoolLevels = "{{ schoolTeacherSchoolLevels|raw }}"
    data-schoolTeacherContractTypes = "{{ schoolTeacherContractTypes|raw }}"
    data-schoolTeacherGrades = "{{ schoolTeacherGrades|raw }}"
    data-schoolTeacherSpecializations = "{{ schoolTeacherSpecializations|raw }}"
    src="{{ ['assets/js/partials/school-teachers/teacher-add-modal.js']|theme }}">
</script>
