description = "Displays the teacher search form."

[viewBag]
==
<form id="teacherSearchForm">
    <div id="teacherSearchFormContent" class="input-group mb-3">

        <div class="input-group-prepend">
            <span class="input-group-text md-addon border border-white bg-white"><i class="fa fa-search"></i></span>
        </div>

        <input name="searchInput" type="text" class="form-control border border-white shadow-none" placeholder="{{ 'teacher.search.placeholder'|_ }}" aria-label="{{ 'teacher.search.placeholder'|_ }}">

        <div class="input-group-append">
            <select name="sort" class="browser-default custom-select border border-white shadow-none rounded-0" id="sort">
                {% for key, value in sortTypes %}
                    <option value="{{ value }}">{{ key }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-group-append">
            <select name="seniorityLevel" class="browser-default custom-select border border-white shadow-none rounded-0" id="seniorityLevel">
                {% for key, value in seniorityLevels %}
                    <option value="{{ value }}">{{ key }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-group-append">
            <select name="schoolLevel" class="browser-default custom-select border border-white shadow-none rounded-0" id="schoolLevel">
                {% for key, value in schoolLevels %}
                    <option value="{{ value }}">{{ key }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-group-append">
            <select name="contractType" class="browser-default custom-select border border-white shadow-none rounded-0" id="contractType">
                {% for key, value in contractTypes %}
                    <option value="{{ value }}">{{ key }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-group-append">
            <a type="button" class="btn btn-md btn-primary m-0 z-depth-0 waves-effect" data-toggle="modal" data-target="#teacher-add-modal">{{ 'teacher.search.add_teacher'|_ }}</a>
        </div>

    </div>
</form>

<script type="text/javascript" src="{{ 'assets/js/partials/school-teachers/teacher-search-form.js'|theme }}"></script>
