description = "Modal that specifies how to import teachers for a school"

[viewBag]
==

<div class="modal fade" id="teacher-import-modal" tabindex="-1" role="dialog" aria-labelledby="teacher-import-modal" aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title w-100">{{ 'teacher-import-modal.title'|_ }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-12">

                        <p class="m-0">{{ 'school-teachers.teacher-import-modal.import_description'|_ }}</p>

                        <small>
                            {{ 'school-teachers.teacher-import-modal.download_info'|_ }}&nbsp;<a data-request="onDownloadImportTemplate">{{ 'school-teachers.teacher-import-modal.download_link'|_ }}</a>
                        </small>

                        <form method="POST" data-request="onTeachersImport" data-request-validate data-request-flash data-request-files>
                            <div class="form-group">
                                <div class="md-form">
                                    <input name="import_file" type="file" class="custom-file-input" id="import_file">
                                    <label class="custom-file-label" for="import_file"></label>
                                    <div class="small text-danger" data-validate-for="import_file"></div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-12 col-sm-6 offset-sm-6 col-md-4 offset-md-8 col-lg-4 offset-lg-8 col-xl-4 offset-xl-8">
                                    <div class="md-form m-0">
                                        <button type="submit" class="btn btn-md btn-block btn-primary rounded m-0" data-attach-loading>{{'school-teachers.teacher-import-modal.upload'|_ }}</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript" src="{{ 'assets/js/partials/school-teachers/teacher-import-modal.js'|theme }}"></script>
