description = "Displays a teacher"

[viewBag]
==
{% partial "school-teachers/teacher-remove" teacher=teacher %}

<h5 class="mb-3 mt-4 font-weight-bold">{{ 'teachers.teacher-view.title'|_ }}</h5>

<div class="row bg-white rounded py-3 d-flex align-items-center">
    <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
        <img src="{{ (teacher.user.getAvatarThumb()) ? (teacher.user.getAvatarThumb(50)) : ('assets/img/svg/no-avatar.svg'|theme) }}" class="card-img-top my-auto rounded-circle z-depth-0" alt="{{ teacher.name }}" height="150">
    </div>

    <div class="col-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">

        <h5 class="mb-3 font-weight-bold text-center text-sm-left text-md-left text-lg-left text-xl-left">{{ teacher.name }}</h5>

        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center text-sm-left text-md-left text-lg-left text-xl-left my-2">
                <span>{{ 'teachers.teacher-view.seniority_level'|_ }}: <strong>{{ teacher.seniority_level.name }}</strong></span><br/>
                <span>{{ 'teachers.teacher-view.contract_type'|_ }}: <strong>{{ teacher.contract_type.name }}</strong></span><br/>
                <span>{{ 'teachers.teacher-view.email'|_ }}: <strong>{{ teacher.email }}</strong></span><br/>
                <span>{{ 'teachers.teacher-view.phone'|_ }}: <strong>{{ teacher.phone }}</strong></span>
            </div>

            <div class="col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8 text-center text-sm-left text-md-left text-lg-left text-xl-left my-2 border-left border-dark">
                <span>{{ 'teachers.teacher-view.description'|_ }}: <strong>{{ teacher.description }}</strong></span>
            </div>
        </div>

         <div class="row bg-default">
            <div class="col-12 text-left my-2">
                <h5 class="mb-3 font-weight-bold text-center text-sm-left text-md-left text-lg-left text-xl-left">{{ 'teachers.teacher-view.schools'|_ }}</h5>
                <ul>
                    {% for school in teacher.schools %}
                        <li>{{ school.name }}</li>
                    {% endfor%}
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="row py-3">
    <div class="col-12 text-center text-sm-right text-md-right text-lg-right text-xl-right p-0">
        <a id="teacher-edit" class="btn btn-md btn-secondary mx-0 my-2 py-2 z-depth-0 waves-effect rounded" type="button" data-id="{{ teacher.id }}">{{ 'teachers.teacher-view.edit'|_ }}</a>
    </div>
</div>

{% partial "learning-plans/learning-plan-view" learningPlan=teacher.active_learning_plan %}

{% partial "school-learning-plans/learning-plan-edit-btn" learningPlan=teacher.active_learning_plan displayDivId='teachers-tab-content' %}


{% if 0 < proposedRequests.count() %}
    <div class="row py-5 mt-4 align-middle" style="background-color: #c7ffe7;">

        <div class="col-12">
            <h5 class="mb-3 font-weight-bold">{{ 'teachers.teacher-view.requested-courses'|_ }}&nbsp;{{ teacher.name }}</h5>
            {% partial "school-learning-plans/learning-plan-proposed-requests-slider" id='teacher-requested-courses' learningPlanCourses=proposedRequests %}
        </div>

    </div>
{% endif %}


{% if 0 < teacherDeclinedRequests.count() %}
    <div class="row py-5 align-middle" style="background-color: #ffbccb;">

        <div class="col-12">
            <h5 class="mb-3 font-weight-bold">{{ 'teachers.teacher-view.declined-courses'|_ }}&nbsp;{{ teacher.name }}</h5>
            {% partial "learning-plans/learning-plan-declined-requests-slider" id='teacher-declined-courses' learningPlanCourses=teacherDeclinedRequests %}
        </div>

    </div>
{% endif %}

<script type="text/javascript">
    $('#teacher-edit').on('click', function () {
        /* Extract the clicked teacher ID. */
        var $teacherId = $(this).data('id');

        /* Send the view request */
        $.request(
            'onTeacherEdit',
            {
                update: {'school-teachers/teacher-edit': '#teachers-tab-content'},
                data: {teacherId: $teacherId}
            }
        );
    });
</script>
