description = "Displays a teacher as a card"

[viewBag]
==
<!-- Card -->
<div class="card rounded">

    <!-- Card image -->
    <div class="view overlay d-block bg-white rounded pt-5">
        <img src="{{ (teacher.user.getAvatarThumb()) ? (teacher.user.getAvatarThumb(150)) : ('assets/img/svg/no-avatar.svg'|theme) }}" class="mx-auto" alt="{{ teacher.name }}" height="150">
        <a class="teacher-view" data-id="{{ teacher.id }}">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
    <!-- /.Card image -->

    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <h5 class="card-title text-center">
            <a class="stretched-link teacher-view" data-id="{{ teacher.id }}">
                <p class="m-0">{{ teacher.name }}</p>
                <small>{{ teacher.seniority_level.name }}</small><br/>
                <small>{{ 'school-teachers.teacher-courses-number'|_ }}:&nbsp;{{ teacher.active_learning_plan.courses.count() }}</small><br/>
                <small>{{ 'school-teachers.teacher-budget'|_ }}:&nbsp;{{ teacher.active_budget.budget }}&nbsp;{{ 'general.coin'|_ }}</small><br/>
                <br/>

                <a class="btn btn-md btn-secondary mt-4 py-2 z-depth-0 waves-effect rounded btn-block teacher-view" type="button" data-id="{{ teacher.id }}">{{ 'teacher.card.view'|_ }}</a>
            </a>
        </h5>
        <!-- /.Title -->

    </div>
    <!-- /.Card content -->

</div>
<!-- /.Card -->
