[viewBag]

==
<!-- Central Modal Small -->
<div class="modal fade" id="password-reset-modal" tabindex="-1" role="dialog" aria-labelledby="password-reset-modal" aria-hidden="true">

    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title w-100" id="password-reset-modal">{{ 'password-reset-modal.title'|_ }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col">

                        <form method="POST" data-request="onResetPassword" data-request-validate data-request-flash>
                            <div class="form-group">
                                <div class="md-form">
                                    <input name="password" type="password" id="resetPassword" class="form-control">
                                    <label for="resetPassword">{{ 'password-reset-modal.password'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="password"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="md-form">
                                    <input name="password_confirmation" type="password" id="resetPasswordConfirmation" class="form-control">
                                    <label for="resetPasswordConfirmation">{{ 'password-reset-modal.password-confirmation'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="password_confirmation"></div>
                                </div>
                            </div>

                            <input name="code" type="hidden" value="{{ resetCode }}">

                            <div class="form-row">
                                <div class="col-12">
                                    <div class="md-form m-0">
                                        <button type="submit" class="btn btl-lg btn-block btn-secondary rounded m-0" data-attach-loading>{{'auth.password-reset-label'|_ }}</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row w-100">
                    <div class="col-12 pt-3 text-center">
                        <p class="m-0">
                            {{ ('signup-modal.footer.login'|_)|raw }}
                            <a data-dismiss="modal" data-toggle="modal" href="#login-modal" data-target="#login-modal">{{'auth.login-label'|_ }}</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- Central Modal Small -->

<script type="text/javascript">
    $("#password-reset-modal").on('shown.bs.modal', function(){
        /* Hide the body scrollbar. */
        document.body.style.overflow = "hidden";
    });

    $("#password-reset-modal").on('hidden.bs.modal', function(){
        /* Show the body scrollbar. */
        document.body.style.overflow = "auto";
    });

    $( document ).ready(function() {
        $('#password-reset-modal').modal()
    });
</script>
