description = "Displays the tab containing all the school account data"

[viewBag]
==
<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <div class="col-12">

        <div class="row">
            <div class="col-12 bg-white rounded p-3">

                <h5 class="mb-3 font-weight-bold">{{ 'school.profile.form.profile.title'|_ }}</h5>

                <form method="POST" data-request="onSchoolProfileUpdate" data-request-validate data-request-flash>
                    <div class="form-group">
                        <div class="md-form">
                            <input name="name" type="text" id="school_name" class="form-control" value="{{ profile.name }}">
                            <label for="school_name">{{ 'school.profile.form.profile.name'|_ }}</label>
                            <div class="small text-danger" data-validate-for="name"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="md-form">
                            <input name="email" type="email" id="school_email" class="form-control" value="{{ profile.email }}">
                            <label for="school_email">{{ 'school.profile.form.profile.email'|_ }}</label>
                            <div class="small text-danger" data-validate-for="email"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="md-form">
                            <input name="phone" type="text" id="school_phone" class="form-control" value="{{ profile.phone }}">
                            <label for="school_phone">{{ 'school.profile.form.profile.phone'|_ }}</label>
                            <div class="small text-danger" data-validate-for="phone"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="md-form">
                            <input name="principal" type="text" id="school_principal" class="form-control" value="{{ profile.principal }}">
                            <label for="school_principal">{{ 'school.profile.form.profile.principal'|_ }}</label>
                            <div class="small text-danger" data-validate-for="principal"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="md-form">
                            <input name="contact_name" type="text" id="school_contact_name" class="form-control" value="{{ profile.contact_name }}">
                            <label for="school_contact_name">{{ 'school.profile.form.profile.contact_name'|_ }}</label>
                            <div class="small text-danger" data-validate-for="contact_name"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="md-form">
                            <input name="contact_email" type="email" id="school_contact_email" class="form-control" value="{{ profile.contact_email }}">
                            <label for="school_contact_email">{{ 'school.profile.form.profile.contact_email'|_ }}</label>
                            <div class="small text-danger" data-validate-for="contact_email"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="md-form">
                            <input name="contact_phone" type="text" id="school_contact_phone" class="form-control" value="{{ profile.contact_phone }}">
                            <label for="school_contact_phone">{{ 'school.profile.form.profile.contact_phone'|_ }}</label>
                            <div class="small text-danger" data-validate-for="contact_phone"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="md-form">
                            <input name="contact_role" type="text" id="school_contact_role" class="form-control" value="{{ profile.contact_role }}">
                            <label for="school_contact_role">{{ 'school.profile.form.profile.contact_role'|_ }}</label>
                            <div class="small text-danger" data-validate-for="contact_role"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="md-form">
                            <input name="inspectorate_id" type="text" id="school_inspectorate_id" class="form-control" value="{{ profile.inspectorate.name }}">
                            <label for="school_inspectorate_id">{{ 'school.profile.form.profile.inspectorate_id'|_ }}</label>
                            <div class="small text-danger" data-validate-for="inspectorate_id"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="md-form">
                            <input name="address_id" type="text" id="school_address_id" class="form-control" value="{{ profileAddress }}">
                            <label for="school_address_id">{{ 'school.profile.form.profile.address_id'|_ }}</label>
                            <div class="small text-danger" data-validate-for="address_id"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="md-form">
                            <select name="type" class="browser-default custom-select border shadow-none ">
                                {% for key, value in schoolTypes %}
                                    <option value="{{ value }}" {% if value == profile.type %} selected {% endif %}>{{ key }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-12 col-sm-6 offset-sm-6 col-md-4 offset-md-8 col-lg-4 offset-lg-8 col-xl-4 offset-xl-8">
                            <div class="md-form m-0">
                                <button type="submit" class="btn btn-sm btn-block btn-primary rounded m-0" data-attach-loading>{{'school.profile.form.profile.save'|_ }}</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div class="row pt-5">
            <div class="col-12 bg-white rounded p-3">
                <h5 class="mb-3 font-weight-bold">{{ 'school.profile.form.address.title'|_ }}</h5>

                <form method="POST" data-request="onSchoolProfileDetailedAddreddUpdate" data-request-validate data-request-flash>
                    <div class="form-group">
                        <div class="md-form">
                            <textarea name="detailed_address" type="text" id="school_detailed_address" class="md-textarea form-control" rows="3">{{ profile.detailed_address }}</textarea>
                            <label for="school_detailed_address">{{ 'school.profile.form.address.detailed_address'|_ }}</label>
                            <div class="small text-danger" data-validate-for="detailed_address"></div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-12 col-sm-6 offset-sm-6 col-md-4 offset-md-8 col-lg-4 offset-lg-8 col-xl-4 offset-xl-8">
                            <div class="md-form m-0">
                                <button type="submit" class="btn btn-sm btn-block btn-primary rounded m-0" data-attach-loading>{{'school.profile.form.description.save'|_ }}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <div class="col-12">

        <div class="row pt-5 pt-md-0 pt-lg-0 pt-lg-0">
            <div class="col-12 bg-white rounded p-3">
                <h5 class="mb-3 font-weight-bold">{{ 'school.profile.form.photo.title'|_ }}</h5>
                <small>{{ 'school.profile.form.photo.description'|_ }}</small>

                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <img src="{{ (user.getAvatarThumb()) ? (user.getAvatarThumb(150)) : ('assets/img/svg/no-avatar.svg'|theme) }}" class="rounded-circle" alt="avatar" height="150">
                        </div>
                    </div>
                </div>

                <form method="POST">
                    <div class="form-group">
                        <div class="md-form">
                            <input name="avatar" type="file" class="custom-file-input" id="school_avatar">
                            <label class="custom-file-label" for="school_avatar">{{ 'school.profile.form.photo.label'|_ }}</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-12 bg-white rounded p-3">

                <h5 class="mb-3 font-weight-bold">{{ 'school.profile.form.account.title'|_ }}</h5>

                <form method="POST" data-request="onEmailUpdate" data-request-validate data-request-flash>
                    <div class="form-group">
                        <div class="md-form">
                            <input name="accountEmail" type="text" id="school_accountEmail" class="form-control" value="{{ user.email }}">
                            <label for="school_accountEmail">{{ 'school.profile.form.account.email'|_ }}</label>
                            <div class="small text-danger" data-validate-for="accountEmail"></div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-12 col-sm-6 offset-sm-6 col-md-4 offset-md-8 col-lg-4 offset-lg-8 col-xl-4 offset-xl-8">
                            <div class="md-form m-0">
                                <button type="submit" class="btn btn-sm btn-block btn-primary rounded m-0" data-attach-loading>{{'school.profile.form.account.save'|_ }}</button>
                            </div>
                        </div>
                    </div>
                </form>

                <form method="POST" data-request="onPasswordUpdate" data-request-validate data-request-flash>
                    <div class="form-group">
                        <div class="md-form">
                            <input name="accountNewPassword" type="password" id="school_accountNewPassword" class="form-control">
                            <label for="school_accountNewPassword">{{ 'school.profile.form.account.new_password'|_ }}</label>
                            <div class="small text-danger" data-validate-for="accountNewPassword"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="md-form">
                            <input name="accountNewPassword_confirmation" type="password" id="school_accountNewPassword_confirmation" class="form-control">
                            <label for="school_accountNewPassword_confirmation">{{ 'school.profile.form.account.re_new_password'|_ }}</label>
                            <div class="small text-danger" data-validate-for="accountNewPassword_confirmation"></div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-12 col-sm-6 offset-sm-6 col-md-4 offset-md-8 col-lg-4 offset-lg-8 col-xl-4 offset-xl-8">
                            <div class="md-form m-0">
                                <button type="submit" class="btn btn-sm btn-block btn-primary rounded m-0" data-attach-loading>{{'school.profile.form.account.save'|_ }}</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div class="row pt-5">
            <div class="col-12 bg-white rounded p-3">
                <h5 class="mb-3 font-weight-bold">{{ 'school.profile.form.description.title'|_ }}</h5>

                <form method="POST" data-request="onSchoolProfileDescriptionUpdate" data-request-validate data-request-flash>
                    <div class="form-group">
                        <div class="md-form">
                            <textarea name="description" type="text" id="school_description" class="md-textarea form-control" rows="3">{{ profile.description }}</textarea>
                            <label for="school_description">{{ 'school.profile.form.description.description'|_ }}</label>
                            <div class="small text-danger" data-validate-for="description"></div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-12 col-sm-6 offset-sm-6 col-md-4 offset-md-8 col-lg-4 offset-lg-8 col-xl-4 offset-xl-8">
                            <div class="md-form m-0">
                                <button type="submit" class="btn btn-sm btn-block btn-primary rounded m-0" data-attach-loading>{{'school.profile.form.description.save'|_ }}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


{% partial "image-crop" avatarId='school_avatar' eventHandler='onAvatarUpdate' %}

<script type="text/javascript" src="{{ 'assets/js/bootstrap-4-autocomplete.js'|theme }}"></script>

<script type="text/javascript">

    $( document ).ready(function() {
        $('#school_inspectorate_id').autocomplete({
            source: {{ inspectorates|raw }},
            highlightClass: 'text-danger',
            treshold: 1
        });

        $('#school_address_id').autocomplete({
            source: {{ addresses|raw }},
            highlightClass: 'text-danger',
            treshold: 1
        });

        $('#school_avatar').on('change',function(event){
            if (event.target.files.length) {
                $(this).next('.custom-file-label').html(event.target.files[0].name);
            }
        })
    });

</script>
