description = "Displays a grid of appraisals"

[viewBag]
==
<div class="container p-0 my-4">
    <div class="row">

        {% for appraisal in appraisals %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-4">
                {% partial "teacher-appraisals/appraisal-card" appraisal=appraisal %}
            </div>
        {% endfor %}

    </div>
</div>

<script
    nonce="{{ csp_nonce }}"
    data-cspNonce="{{ csp_nonce }}"
    type="text/javascript"
    id="partial-appraisal-grid"
    src="{{ 'assets/js/partials/teacher-appraisals/appraisal-grid.js'|theme }}">
</script>
