description = "Displays the list of notifications"

[viewBag]
==

{% for notification in notifications %}
    {% if 'teacher-course-request' == notification.data['notification-type'] %}
        {% partial "school-notifications/course-request" notification=notification %}
    {% elseif 'teacher-course-reject' == notification.data['notification-type'] %}
        {% partial "school-notifications/course-reject" notification=notification %}
    {% elseif 'teacher-course-approve' == notification.data['notification-type'] %}
        {% partial "school-notifications/course-approve" notification=notification %}
    {% elseif 'teacher-objectives-set' == notification.data['notification-type'] %}
        {% partial "school-notifications/objectives-set" notification=notification %}
    {% endif %}
{% endfor %}
