description = "Displays a carousel that has more items per page"

[viewBag]
==

<!--Carousel Wrapper-->
<div id="carousel-multiple-courses" class="carousel slide" data-ride="carousel" data-touch="true">
    <div class="carousel-inner row w-100 mx-auto" role="listbox">

        {% for course in courses %}
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 py-2 {{ loop.first ? 'active' : '' }}">
                {% partial "course-card"
                    course=course
                    detailsPage=detailsPage
                    detailsKeyColumn=detailsKeyColumn
                    detailsUrlParameter=detailsUrlParameter
                %}
            </div>
        {% endfor %}

    </div>

    <!--Controls-->
    <a class="carousel-control-prev carousel-control-bg-invert" href="#carousel-multiple-courses" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">{{ 'carousel.previous'|_ }}</span>
    </a>
    <a class="carousel-control-next carousel-control-bg-invert" href="#carousel-multiple-courses" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">{{ 'carousel.next'|_ }}</span>
    </a>
    <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
