description = "Displays a grid of categories"

[viewBag]
==
<div class="row">
    {% for category in categories %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-4">
            {% partial "category-card"
                category=category
                detailsPage=detailsPage
                detailsKeyColumn=detailsKeyColumn
                detailsUrlParameter=detailsUrlParameter
            %}
        </div>
    {% endfor %}
</div>

{% if ((1 < categories.lastPage) and (true == pagination)) %}
    <nav>
        <ul class="pagination pg-primary justify-content-center">
            {% if categories.currentPage > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (categories.currentPage-1) }) }}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for page in 1..categories.lastPage %}
                <li class="page-item {{ categories.currentPage == page ? 'active' : null }}">
                    <a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% if categories.lastPage > categories.currentPage %}
                <li class="page-item">
                    <a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (categories.currentPage+1) }) }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}

        </ul>
    </nav>
{% elseif ((true == rawPagination) and (1 < categories.lastPage)) %}
    <nav>
        <ul class="pagination pg-primary justify-content-center">
            {% if categories.currentPage() > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ categories.previousPageUrl() }}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for page in 1..categories.lastPage() %}
                <li class="page-item {{ categories.currentPage() == page ? 'active' : null }}">
                    <a class="page-link" href="{{ categories.url(page) }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% if categories.lastPage() > categories.currentPage() %}
                <li class="page-item">
                    <a class="page-link" href="{{ categories.nextPageUrl() }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}
