description = "Displays a category as a card"

[viewBag]
==
<!-- Card -->
<div class="card d-flex">

    <!-- Card image -->
    <div class="view overlay d-flex tms-category-card-header" style="background-color: {{ category.color }} !important;height: 140px;">
        <img class="mx-auto h-100" src="{{ (category.icon) ? (category.icon|media) : ('assets/img/svg/category.svg'|theme) }}" alt="">
        <a href="{{ detailsPage|page({ (detailsUrlParameter) : attribute(category, detailsKeyColumn)}) }}">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
    <!-- /.Card image -->

    <!-- Card content -->
    <div class="card-body align-items-center d-flex tms-card-max-lines">

        <!-- Title -->
        <h5 class="card-title font-weight-bold my-0 mx-auto text-center">{{ str_limit(category.name, 75) }}</h5>
        <!-- /.Title -->

        <a class="stretched-link" href="{{ detailsPage|page({ (detailsUrlParameter) : attribute(category, detailsKeyColumn)}) }}"></a>

    </div>
    <!-- /.Card content -->

</div>
<!-- /.Card -->
