description = "Displays the course search pagination."

[viewBag]
==
{% if 1 < pages %}
    <ul class="pagination pg-darkgrey justify-content-center">
        {% if 1 < page %}
            <li class="page-item" data-page="{{ page - 1 }}">
                <a class="page-link budget-course-search-pagination" data-page="{{ page - 1 }}">&laquo;</a>
            </li>
        {% endif %}

        {% set cells = 5 %}
        {% for i in page..pages if cells %}
            {% if i == page %}
                <li class="page-item active" data-page="{{ i }}">
                    <a class="page-link budget-course-search-pagination" data-page="{{ i }}">{{ i }}</a>
                </li>
            {% else %}
                <li class="page-item" data-page="{{ i }}">
                    <a class="page-link budget-course-search-pagination" data-page="{{ i }}">{{ i }}</a>
                </li>
            {% endif %}
            {% set cells = (cells - 1) %}
        {% endfor %}

        {% if page < pages %}
            <li class="page-item" data-page="{{ page + 1 }}">
                <a class="page-link budget-course-search-pagination" data-page="{{ page + 1 }}">&raquo;</a>
            </li>
        {% endif %}
    </ul>
{% endif %}

<script type="text/javascript">
    $('.course-search-pagination').on('click', function () {
        /* Extract the clicked page. */
        var $newPage = $(this).data('page');

        /* Select the course select form and send the request */
        $('#courseSearchForm').request(
            'onCourseSearch',
            {
                update: {'course-grid': '#courseSearchResults', 'course-search-pagination': '#courseSearchPagination'},
                data: {page: $newPage}
            }
        );
    });
</script>
