description = "4 Column Footer"

[viewBag]

[staticMenu]
code = "footer-menu-column-1"

[staticMenu staticMenu2]
code = "footer-menu-column-2"
==
<!--Footer-->
<footer class="page-footer bg-primary mt-auto">

    <!--Footer links-->
    <div class="container text-center text-md-left py-3">

        <div class="row">

            <div class="col-lg-3 col-md-6 ml-0">
                <ul class="list-unstyled">

                    <li>
                        <a href="https://fundatia-vodafone.ro" target="_blank">
                            <img src="{{ 'footer/vodafone-white.png'|media }}" class="p-1" width="120" alt="Fundația Vodafone România">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 ml-auto">
                <ul class="list-unstyled">

                    <li>
                        <a href="https://scoalafinlandezasibiu.ro/" target="_blank">
                            <img src="{{ 'footer/fundatia-didactica.png'|media }}" class="p-1" width="120" alt="Fundația Didactica">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 ml-auto">
                <ul class="list-unstyled">

                    <li>
                        <a href="https://code4.ro/ro" target="_blank">
                            <img src="{{ 'footer/logo_code4_tr.png'|media }}" class="p-1" width="120" alt="Code 4 Romania">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 ml-auto">
                <ul class="list-unstyled">

                    <li>
                        <a href="https://www.civiclabs.ro" target="_blank">
                            <img src="{{ 'footer/civic-labs.png'|media }}" class="p-1" width="120" alt="Civic Labs">
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <!--/.Footer links-->

    <!--Copyright-->
    <div class="footer-copyright text-center bg-secondary">
        <div class="container-fluid py-3">
            © {{ 'now'|date('Y') }} {{ 'footer.copyright'|_ }}
        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
