description = "Footer"

[viewBag]
==
{% partial 'footer/4-column' %}

<script src="{{ [
        'assets/js/popper.min.js',
        'assets/js/bootstrap.min.js',
        'assets/js/modules/bootstrap-datepicker.min.js',
        'assets/js/modules/bootstrap-datepicker.ro.min.js',
        'assets/js/mdb.min.js',
        'assets/js/app.js'
    ]|theme }}">
</script>

{% framework extras %}
{% scripts %}

<script type="text/javascript">
    $(document).on('ajaxSetup', function(event, context) {
        // Enable the StripeLoadIndicator on all AJAX requests
        context.options.loading = $.oc.stripeLoadIndicator
    })
</script>

</body>
</html>
