description = "Footer"

[viewBag]
==
{% partial 'footer-columns' %}

<script src="{{ [
        'assets/js/popper.min.js',
        'assets/js/bootstrap.min.js',
        'assets/js/modules/bootstrap-datepicker.min.js',
        'assets/js/modules/bootstrap-datepicker.ro.min.js',
        'assets/js/mdb.min.js',
        'assets/js/app.js'
    ]|theme }}">
</script>

{% framework extras %}
{% scripts %}

<script src="{{ ['assets/js/partials/footer1.js']|theme }}"></script>

<script src="{{ ['assets/js/partials/footer2.js']|theme }}"></script>

<script src="{{ ['assets/js/partials/footer3.js']|theme }}"></script>
