;;
description = "4 Column Footer"

[viewBag]

[staticMenu]
code = "main-menu"
==
<!--Footer-->
<footer class="page-footer bg-primary">

    <!--Footer links-->
    <div class="container text-center text-md-left py-3">
        <div class="row">

            <!--First column-->
            <div class="col-lg-3 col-md-6">
                <a href="#">
                    <img src="{{ 'assets/img/svg/logo-white.svg'|theme }}" height="70" alt="logo">
                </a>
            </div>
            <!--/.First column-->

            <hr class="w-100 clearfix d-sm-none">

            <!--Second column-->
            <div class="col-lg-3 col-md-6 ml-auto">
                {% if staticMenu.totalItems %}
                    <!-- Links -->
                    <ul class="list-unstyled">
                        {% for menuItem in staticMenu.menuItems %}
                            <li><a href="{{ menuItem.url }} "><span style="font-size: 12px;">{{ menuItem.title }}</span></a></li>
                        {% endfor %}
                    </ul>
                    <!-- Links -->
                {% endif %}
            </div>
            <!--/.Second column-->

            <hr class="w-100 clearfix d-sm-none">

            <!--Third column-->
            <div class="col-lg-3 col-md-6 ml-auto">
                <ul class="list-unstyled">
                    <li><a style="font-size: 12px;" href="{{ 'tms-blog'|page }}">Blog</a></li>
                    <li><a style="font-size: 12px;" href="#">Parteneri</a></li>
                    <li><a style="font-size: 12px;" href="{{ 'termeni-si-conditii'|staticPage  }}">Termeni și Condiții</li>
                    <li><a style="font-size: 12px;" href="{{ 'politica-de-confidentialitate'|staticPage  }}">Politica de Confidențialitate</a></li>
                    <li><span style="font-size: 12px;">{{ 'footer.incubation'|_ }}</span></li>
                    <li>
                        <a href="https://www.civiclabs.ro" target="_blank">
                            <img src="{{ 'assets/img/svg/civic-labs.svg'|theme }}" class="bg-white p-1" width="120" alt="Civic Labs">
                        </a>
                    </li>
                </ul>
            </div>
            <!--/.Third column-->

            <hr class="w-100 clearfix d-sm-none">

            <!--Fourth column-->
            <div class="col-lg-3 col-md-6 ml-auto">
                {% content 'footer-contact-data.htm' %}
                <ul class="list-unstyled">
                    <li>
                        {% for link in linkList.links %}
                            <a class="mx-1" target="{{ linkList.linkTarget }}" href="{{ link.getLink }}" title="{{ link.getName }}"><i class="{{ link.getIcon }}"></i></a>
                        {% endfor %}
                    </li>
                    <li>
                        <a href="#" class="btn btn-sm btn-success z-depth-0 rounded d-none" type="button">{{ 'footer.call-to-action'|_ }}</a>
                    </li>
                </ul>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer links-->

    <!--Copyright-->
    <div class="footer-copyright text-center primary-color-dark">
        <div class="container-fluid py-3">
            © {{ 'now'|date('Y') }} {{ 'footer.copyright'|_ }}
        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
