description = "Footer"

[viewBag]
==
{% partial 'footer-columns-landing-page' %}

<script type="text/javascript" src="{{ [
        'assets/js/popper.min.js',
        'assets/js/bootstrap.min.js',
        'assets/js/modules/bootstrap-datepicker.min.js',
        'assets/js/modules/bootstrap-datepicker.ro.min.js',
        'assets/js/mdb.min.js',
        'assets/js/app.js'
    ]|theme }}">
</script>

{% framework extras %}
{% scripts %}

<script type="text/javascript" src="{{ 'assets/js/partials/footer-1.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/partials/footer-2.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/partials/footer-3.js'|theme }}"></script>
