description = "Modal that displays a crop mechanism for a image"

[viewBag]
==

<div class="modal fade" id="crop-image-modal-{{ avatarId }}" tabindex="-1" role="dialog" aria-labelledby="crop-image-modal-{{ avatarId }}" aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title w-100">{{ 'crop-image.title'|_ }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'crop-image.close'|_ }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div id="crop-image-{{ avatarId }}"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-lg btn-block btn-primary rounded mt-3 crop-image-btn-{{ avatarId }}" data-dismiss="modal">{{ 'crop-image.add'|_ }}</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<script
    nonce="{{ csp_nonce }}"
    type="text/javascript"
    id="partial-image-crop"
    data-avatarId="{{avatarId}}"
    data-eventHandler="{{eventHandler}}"
    data-schoolTeacherId="{{schoolTeacherId}}"
    src="{{ 'assets/js/partials/image-crop.js'|theme }}">
</script>
