[viewBag]

[staticMenu]
code = "main-menu"
==
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-white z-depth-0">

    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="/">
            <img src="{{ 'assets/img/svg/logo.svg'|theme }}" height="60" alt="logo">
        </a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <ul class="navbar-nav ml-auto d-flex align-items-center">
                <!-- Links -->
                {% if staticMenu.totalItems %}
                    {% for menuItem in staticMenu.menuItems %}
                        <li class="nav-item h-100 {% if menuItem.isActive %} active {% endif %}">
                            <a class="nav-link" href="{{ menuItem.url }} ">
                                {{ menuItem.title }}
                                {% if this.page.title == menuItem.title %} <span class="sr-only">(current)</span>{% endif %}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
                <!-- Links -->

                <li class="nav-item h-100 d-none d-sm-block d-md-block d-lg-block d-xl-block">
                    <div class="border-left border-dark mx-3">&zwnj;</div>
                </li>

                {% if not user %}
                    <li class="nav-item h-100">
                        <button type="button" class="btn btn-sm align-middle btn-outline-black z-depth-0 rounded ml-0" data-toggle="modal" data-target="#login-modal">{{'auth.login-label'|_ }}</button>
                        <button type="button" class="btn btn-sm btn-success z-depth-0 rounded" data-toggle="modal" data-target="#signup-select-modal">{{'auth.signup-label'|_ }}</button>
                    </li>
                {% else %}
                    <li class="nav-item h-100">
                        <a class="nav-link" href="#">
                            <img src="{{ 'assets/img/svg/icon-bell.svg'|theme }}" alt="notification" height="25">
                        </a>
                    </li>

                    <li class="nav-item h-100 avatar">
                        <a class="nav-link p-0" href="{{ user.getProfilePage() }}">
                            <img src="{{ (user.getAvatarThumb()) ? (user.getAvatarThumb(50)) : ('assets/img/svg/no-avatar.svg'|theme) }}" class="rounded-circle z-depth-0" alt="avatar" height="50">
                        </a>
                    </li>

                    <li class="nav-item h-100">
                        <a class="nav-link ml-3" data-request="onLogout" data-request-data="redirect: '/'">
                            {{'auth.logout-label'|_ }}&nbsp;
                            <img src="{{ 'assets/img/svg/icon-logout.svg'|theme }}" alt="notification" height="16">
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>
        <!-- Collapsible content -->
    </div>

</nav>
<!--/.Navbar-->
