description = "Displays a teacher as a card"

[viewBag]
==
<!-- Card -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay d-flex bg-white">
        <img src="{{ (user.getAvatarThumb()) ? (user.getAvatarThumb(50)) : ('assets/img/svg/no-avatar.svg'|theme) }}" class="card-img-top my-auto rounded-circle z-depth-0" alt="{{ teacher.name }}" height="150">
        <a href="{{ detailsPage|page({ (detailsUrlParameter) : attribute(teacher, detailsKeyColumn)}) }}">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
    <!-- /.Card image -->

    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <h5 class="card-title text-center">
            <a class="stretched-link" href="{{ detailsPage|page({ (detailsUrlParameter) : attribute(teacher, detailsKeyColumn)}) }}">
                <p class="m-0">{{ teacher.name }}</p>
                <small>{{ teacher.seniority_level.name }}</small>
                <br/>
                <a href="#" class="btn btn-md btn-secondary mt-4 py-2 z-depth-0 waves-effect rounded" type="button">{{ 'teacher.card.view'|_ }}</a>
            </a>
        </h5>
        <!-- /.Title -->

    </div>
    <!-- /.Card content -->

</div>
<!-- /.Card -->
