description = "Displays a editing learning plan course as a card"

[viewBag]
==

<li class="timeline-item">

    <div class="timeline-badge primary">{{ index }}</div>

    <div class="timeline-panel rounded p-0">

        <div class="timeline-heading p-2">
            <div class="container">
                <div class="row">
                    <div class="col pl-0">
                        <div class="round">
                            <input type="checkbox" id="participated_{{ course.id }}" {% if learningPlanCourse.participated %} checked {% endif %} data-learning-plan-id="{{ learningPlan.id }}" data-course-id="{{ course.id }}" class="learning-plan-edit-card-participate"/>
                            <label for="participated_{{ course.id }}"></label>
                        </div>
                    </div>
                    {% if not learningPlanCourse.mandatory %}
                        <div class="col pr-0">
                            <button type="button" class="close learning-plan-edit-card-remove shadow-none m-0 pb-2 ouline-none" aria-label="{{ 'learning-plans.learning-plan-edit-card.close'|_ }}" data-learning-plan-id="{{ learningPlan.id }}" data-course-id="{{ course.id }}">
                                <span class="ouline-none" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                </div>

                <div class="row">
                    <h5 class="timeline-title font-weight-bold">{{ str_limit(course.name, 90) }}</h5>
                </div>
            </div>
        </div>

        <div class="timeline-body" style="background-color: {{ course.color }} !important;">
            <div class="row w-100 m-0 px-2 pt-2">
                <div class="col-12">
                    {% if 1 == course.accredited %}
                        <p class="small m-0 text-white">{{ course.credits }} {{ 'course.credits'|_ }} <span class="mx-1">&vert;</span> {{ course.price }} {{ 'general.coin'|_ }}</p>
                    {% else %}
                        <p class="small m-0 text-white">{{ course.price }} {{ 'general.coin'|_ }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="row w-100 m-0 p-2">
                <div class="col-12 text-white">
                    <small class="align-middle">{{ course.startDate() }} <span class="mx-1">&ndash;</span> {{ course.endDate() }}</small>
                </div>
            </div>
        </div>

    </div>

</li>
