description = "Displays the school course search pagination."

[viewBag]
==
<ul class="pagination pg-darkgrey justify-content-center">
    {% if 1 < coursesPage %}
        <li class="page-item" data-page="{{ 1 }}">
            <a class="page-link course-search-pagination" data-page="{{ 1 }}">&Lang;</a>
        </li>

        <li class="page-item" data-page="{{ coursesPage - 1 }}">
            <a class="page-link course-search-pagination" data-page="{{ coursesPage - 1 }}">&lang;</a>
        </li>
    {% endif %}

    {% set cells = 5 %}
    {% for i in coursesPage..coursesPages if cells %}
        {% if i == coursesPage %}
            <li class="page-item active" data-page="{{ i }}">
                <a class="page-link course-search-pagination" data-page="{{ i }}">{{ i }}</a>
            </li>
        {% else %}
            <li class="page-item" data-page="{{ i }}">
                <a class="page-link course-search-pagination" data-page="{{ i }}">{{ i }}</a>
            </li>
        {% endif %}
        {% set cells = (cells - 1) %}
    {% endfor %}

    {% if coursesPage < coursesPages %}
        <li class="page-item" data-page="{{ coursesPage + 1 }}">
            <a class="page-link course-search-pagination" data-page="{{ coursesPage + 1 }}">&rang;</a>
        </li>

        <li class="page-item" data-page="{{ coursesPages }}">
            <a class="page-link course-search-pagination" data-page="{{ coursesPages }}">&Rang;</a>
        </li>
    {% endif %}
</ul>

<script
    nonce="{{ csp_nonce }}"
    data-cspNonce="{{ csp_nonce }}"
    type="text/javascript"
    id="partial-course-pagination"
    src="{{ 'assets/js/partials/school-courses/course-pagination.js'|theme }}">
</script>
