[viewBag]

==
<!-- Central Modal Small -->
<div class="modal fade" id="password-restore-modal" tabindex="-1" role="dialog" aria-labelledby="password-restore-modal" aria-hidden="true">

    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title w-100" id="password-restore-modal">{{ 'password-restore-modal.title'|_ }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col">

                        <form method="POST" data-request="onRestorePassword" data-request-validate data-request-flash>
                            <div class="form-group">
                                <div class="md-form">
                                    <input name="email" type="text" id="passwordrestoreEmail" class="form-control">
                                    <label for="passwordrestoreEmail">{{ 'password-restore-modal.email'|_ }}</label>
                                    <div class="small text-danger" data-validate-for="email"></div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-12">
                                    <div class="md-form m-0">
                                        <button type="submit" class="btn btn-lg btn-block btn-primary rounded m-0" data-attach-loading>{{'auth.password-restore-label'|_ }}</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row w-100">
                    <div class="col-12 pt-3 text-center">
                        <p class="m-0">
                            {{ ('signup-modal.footer.login'|_)|raw }}
                            <a data-dismiss="modal" data-toggle="modal" href="#login-modal" data-target="#login-modal">{{'auth.login-label'|_ }}</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- Central Modal Small -->
<script src="{{ ['assets/js/partials/auth/password-restore-modal.js']|theme }}"></script>
