[viewBag]
==

<div class="modal fade" id="signup-select-modal" tabindex="-1" role="dialog" aria-labelledby="signup-select-modal" aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title w-100" id="signup-select-modal">{{ 'signup-select-modal.title'|_ }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row align-items-start">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 border-right">
                        <div class="row align-items-start">
                            <div class="col">
                                <h5 class="pb-3">{{ 'signup-select-modal.teacher.title'|_ }}</h5>
                                <small>{{ 'signup-select-modal.teacher.description'|_ }}</small>
                            </div>
                        </div>
                        <div class="row d-sm-none d-md-none d-lg-none d-xl-none">
                            <div class="col">
                                <button type="button" class="btn btn-lg btn-block btn-primary rounded mt-3" data-dismiss="modal" data-toggle="modal" data-target="#signup-teacher-modal">{{'auth.signup-label'|_ }}</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="row align-items-start">
                            <div class="col">
                                <h5 class="pb-3 pt-5 pt-sm-0 pt-md-0 pt-lg-0 pt-xl-0">{{ 'signup-select-modal.school.title'|_ }}</h5>
                                <small>{{ 'signup-select-modal.school.description'|_ }}</small>
                            </div>
                        </div>
                        <div class="row d-sm-none d-md-none d-lg-none d-xl-none">
                            <div class="col">
                                <button type="button" class="btn btn-lg btn-block btn-primary rounded mt-3" data-dismiss="modal" data-toggle="modal" data-target="#signup-school-modal">{{'auth.signup-label'|_ }}</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row align-items-start d-none d-sm-flex d-md-flex d-lg-flex d-xl-flex">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 border-right">
                        <button type="button" class="btn btn-lg btn-block btn-primary rounded mt-3" data-dismiss="modal" data-toggle="modal" data-target="#signup-teacher-modal">{{'auth.signup-label'|_ }}</button>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                        <button type="button" class="btn btn-lg btn-block btn-primary rounded mt-3" data-dismiss="modal" data-toggle="modal" data-target="#signup-school-modal">{{'auth.signup-label'|_ }}</button>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row w-100">
                    <div class="col-12 text-center">
                        <p class="m-0">
                            {{ ('signup-select-modal.footer.login'|_)|raw }}
                            <a data-dismiss="modal" data-toggle="modal" href="#login-modal" data-target="#login-modal">{{'auth.login-label'|_ }}</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript" src="{{ 'assets/js/partials/auth/signup-select-modal.js'|theme }}"></script>
