description = "despre-proiect page layout"

[staticPage]
useContent = 0
default = 0

[login]
forceSecure = 0

[register]
forceSecure = 0

[resetPassword]

[session]
security = "all"

[notifications]

[linkList]
facebook = 1
linkedin = 1
instagram = 1
linkTarget = "_blank"

[fontAwesomeCssLink]

[simplegoogleanalytics]
tracking_id = "UA-167759572-1"
domain = "auto"
production = 1

[CSPNonce]
==
<?php
use Genuineq\Tms\Models\Course;

    function onStart()
    {
        /* Extract the latest 3 courses. */
        $this['courses'] = Course::where('status', 1)->whereDate('start_date', '>=', date('Y-m-d'))->orderBy('created_at', 'desc')->take(3)->get();
    }
?>
==
{% partial 'head' %}
{% partial 'navbar' %}

<!--Intro Section-->
{% partial "carousel-full-page" %}
<!--/.Intro Section-->

<!--About Project-->
{variable name="projectTitle" label="Title" tab="About project" type="text"}{/variable}
{variable name="projectContent" label="Content" tab="About project" type="richeditor"}{/variable}
{variable name="projectImage" label="Image" tab="About project" type="mediafinder" mode="image"}{/variable}

<section class="bg-primary py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <h3 class="mb-3 wow fadeInLeft font-bold text-white">{{ projectTitle }}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <small class="text-white wow fadeInLeft">{{ projectContent|raw }}</small>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <img src="{{ projectImage|media }}" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!--/.About Project-->

<!--About Us-->
{variable name="usTitle" label="Title" tab="About us" type="text"}{/variable}
{variable name="usContent" label="Content" tab="About us" type="richeditor"}{/variable}
{variable name="usImageLabel" label="Image text" tab="About us" type="text"}{/variable}

<section class="bg-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="mb-3 wow fadeInLeft font-bold">{{ usTitle }}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <small class=" wow fadeInLeft">{{ usContent|raw }}</small>
            </div>
        </div>
    </div>
</section>
<!--/.About Us-->

<!--Latest Courses-->
{variable name="coursesTitle" label="Title" tab="Latest Courses" type="text"}{/variable}

<section class="bg-transparent py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h5 class="mb-3 font-weight-bold">{{ coursesTitle }}</h5>

                {% partial "course-grid"
                    courses=courses
                    recordsPerPage=''
                    detailsPage='tms-curs'
                    detailsKeyColumn='slug'
                    detailsUrlParameter='slug'
                    pagination=false
                %}
            </div>
        </div>
    </div>
</section>
<!--/.Latest Courses-->

{% partial 'footer-pagini-secundare' %}

{% if not user %}
    {% partial 'auth/login-modal' %}
    {% partial 'auth/signup-school-modal' %}
    {% partial 'auth/signup-teacher-modal' %}
    {% partial 'auth/signup-select-modal' %}
    {% partial 'auth/password-restore-modal' %}

    {% if resetCode %}
        {% partial 'auth/password-reset-modal' %}
    {% endif %}
{% endif %}
