[staticPage]
useContent = 1
default = 0

[login]
forceSecure = 0

[register]
forceSecure = 0
==
{% partial 'head' %}

{% partial 'navbar' %}

{% flash %}
    <p
        data-control="flash-message"
        class="flash-message fade {{ type }}"
        data-interval="5">
        {{ message }}
    </p>
{% endflash %}

{% page %}

{% partial 'footer' %}

{% if not user %}
    {% partial 'login-modal' %}
    {% partial 'signup-school-modal' %}
    {% partial 'signup-teacher-modal' %}
    {% partial 'signup-select-modal' %}

    <script src="{{ [
            'assets/js/partials/login-modal.js',
            'assets/js/partials/signup-school-modal.js',
            'assets/js/partials/signup-teacher-modal.js',
            'assets/js/partials/signup-select-modal.js'
        ]|theme }}">
    </script>
{% endif %}
