[staticPage]
useContent = 1
default = 0

[login]
forceSecure = 0

[register]
forceSecure = 0

[resetPassword]

[session]
security = "all"

[notifications]

[linkList]
facebook = 1
linkedin = 1
instagram = 1
linkTarget = "_blank"

[fontAwesomeCssLink]

[simplegoogleanalytics]
tracking_id = "UA-167759572-1"
domain = "auto"
==
<html lang="en">
    {% partial 'head' %}

    <body class="bg-default">
        {% partial 'navbar' %}

        {% flash %}
            <p
                data-control="flash-message"
                class="flash-message fade {{ type }}"
                data-interval="5">
                {{ message }}
            </p>
        {% endflash %}

        <div class="container py-5">
            <div class="row">
                <div class="col-12">
                    {% page %}
                </div>
            </div>
        </div>

        {% partial 'footer' %}
    </body>
</html>

{% if not user %}
    {% partial 'auth/login-modal' %}
    {% partial 'auth/signup-school-modal' %}
    {% partial 'auth/signup-teacher-modal' %}
    {% partial 'auth/signup-select-modal' %}
    {% partial 'auth/password-restore-modal' %}

    {% if resetCode %}
        {% partial 'auth/password-reset-modal' %}
    {% endif %}
{% endif %}
