/* Appraisal statuses colors */

.appraisal-new{
    background-color: #d0ba13 !important;
}

.appraisal-objectives-set{
    background-color: #e36924 !important;
}

.appraisal-objectives-approved{
    background-color: #e69983 !important;
}

.appraisal-skills-set{
    background-color: #e898a6 !important;
}

.appraisal-evaluation-opened{
    background-color: #8cbbdd !important;
}

.appraisal-closed{
    background-color: #86645b !important;
}
