.tms-card-max-lines {
    display: block;/* or inline-block */
    word-break: break-word;
    height: $headings-line-height * 3rem;
    max-height: $headings-line-height * 3rem;
    line-height: $headings-line-height * 1rem;
    margin: $headings-line-height * 1rem 0 $headings-line-height * 1rem 0;
    padding: $headings-line-height * 1.5rem 0 $headings-line-height * 1.5rem 0;
}

.tms-category-card-header {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
