.tms-navbar-menu-item {
    text-transform: initial !important;
    font-size: $navbar-dropdown-font-size;
}

.tms-navbar-button {
    text-transform: initial !important;
    font-size: $navbar-dropdown-font-size !important;
}
