.tms-teacher-actions{
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.tms-school-actions{
    color: $body-color !important;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
