description = "Displays a request course as a card"

[viewBag]
==
<div class="card">
    <div class="card-header" style="background-color: {{ course.color }} !important;">

        <div class="row w-100 m-0">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-left p-0 m-0">
                {% if 1 == course.accredited %}
                    <p class="small m-0 text-white"><img class="mr-1" src="{{ 'assets/img/svg/w-acknowledged.svg'|theme }}" alt="">  {{ 'course.acknowledged'|_ }}</p>
                {% else %}
                    <p class="small m-0 text-white"><img class="mr-1" src="{{ 'assets/img/svg/w-unacknowledged.svg'|theme }}" alt="">  {{ 'course.unacknowledged'|_ }}</p>
                {% endif %}
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-right p-0 m-0">
                {% if 1 == course.accredited %}
                    <p class="small m-0 text-white">{{ course.credits }} {{ 'course.credits'|_ }} <span class="mx-1">&vert;</span> {{ course.price }} {{ 'general.coin'|_ }}</p>
                {% else %}
                    <p class="small m-0 text-white">{{ course.price }} {{ 'general.coin'|_ }}</p>
                {% endif %}
            </div>
        </div>

        <a
            class="stretched-link"
            data-toggle="modal"
            data-target="#learning-plan-proposed-requests-view-modal"
            data-course-id="{{ course.id }}"
            data-learning-plan-id="{{ teacher.active_learning_plan.id }}"
            data-school-covered-costs="{{ learningPlanCourse.school_covered_costs }}"
            data-transport-covered="{{ learningPlanCourse.transport_covered }}"
            data-accommodation-covered="{{ learningPlanCourse.accommodation_covered }}"
            data-teacher-covered-costs="{{ learningPlanCourse.teacher_covered_costs }}"
        ></a>

    </div>
    <div class="card-body">

        <p class="card-text">{{ course.supplier.name }}</p>

        <div class="align-items-center d-flex tms-card-max-lines">
            <h5 class="card-title font-weight-bold">{{ str_limit(course.name, 90) }}</h5>
        </div>

        <div><p class="card-text mb-3">{{ str_limit(course.description|striptags, 47) }}</p></div>

        <small class="card-text align-middle"><img class="mr-1" src="{{ 'assets/img/svg/calendar.svg'|theme }}" alt=""> {{ course.startDate() }} <span class="mx-1">&ndash;</span> {{ course.endDate() }}</small><br>
        <small class="card-text align-middle d-block text-truncate">{{ 'course.domain'|_ }}<span class="mr-1">&colon;</span>
            <span style="color: {{ course.color }} !important;">
                {% for category in course.categories %}
                    {{ category.name }}
                    {% if course.categories.last() != category %}
                        <span class="mr-1">&comma;</span>
                    {% endif %}
                {% endfor %}
            </span>
        </small>

        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <a class="btn btn-sm btn-outline-primary mt-3 py-2 z-depth-0 waves-effect rounded btn-block proposed-requests-decline" type="button" data-course-id="{{ course.id }}" data-learning-plan-id="{{ teacher.active_learning_plan.id }}">{{ 'learning-plans.learning-plan-proposed-requests.decline'|_ }}</a>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <a class="btn btn-sm btn-primary mt-3 py-2 z-depth-0 waves-effect rounded btn-block proposed-requests-accept" type="button" data-course-id="{{ course.id }}" data-learning-plan-id="{{ teacher.active_learning_plan.id }}">{{ 'learning-plans.learning-plan-proposed-requests.accept'|_ }}</a>
            </div>
        </div>

        <a
            class="stretched-link"
            data-toggle="modal"
            data-target="#learning-plan-proposed-requests-view-modal"
            data-course-id="{{ course.id }}"
            data-learning-plan-id="{{ teacher.active_learning_plan.id }}"
            data-school-covered-costs="{{ learningPlanCourse.school_covered_costs }}"
            data-teacher-covered-costs="{{ learningPlanCourse.teacher_covered_costs }}"
            data-transport-covered="{{ learningPlanCourse.transport_covered }}"
            data-accommodation-covered="{{ learningPlanCourse.accommodation_covered }}"
        ></a>

    </div>
</div>
