description = "Displays a learning plan save button"

[viewBag]
==
<div class="row ">
    <div class="col-12 text-center text-sm-right text-md-right text-lg-right text-xl-right p-0">
        <a id="learning-plan-save" class="btn btn-md btn-primary mx-0 my-2 py-2 z-depth-0 waves-effect rounded" type="button" data-id="{{ learningPlan.teacher.id }}">{{ 'learning-plans.learning-plan-edit-save-btn.save'|_ }}</a>
    </div>
</div>

<script
    nonce="{{ csp_nonce }}"
    data-cspNonce="{{ csp_nonce }}"
    type="text/javascript"
    id="partial-learning-plan-edit-save-btn"
    src="{{ 'assets/js/partials/school-learning-plans/learning-plan-edit-save-btn.js'|theme }}">
</script>
