description = "Displays a learning plan as a list and the list of courses"

[viewBag]
==
<div class="row py-3">
    <div class="col-12">

        <h5 class="mb-3 font-weight-bold text-center text-sm-left text-md-left text-lg-left text-xl-left">{{ 'learning-plans.learning-plan.title'|_ }}</h5>

        <div class="d-inline-block w-100" style="overflow-y:auto;">
            <ul class="timeline timeline-horizontal m-0">

                {% for key, learningPlanCourse in learningPlan.accepted_courses %}
                    {% if date(learningPlanCourse.course.start_date) >= date() %}
                        {% partial "school-learning-plans/learning-plan-edit-card" learningPlanCourse=learningPlanCourse course=learningPlanCourse.course index=loop.index %}
                    {% endif %}
                {% endfor %}

            </ul>
        </div>

    </div>
</div>

<script
    nonce="{{ csp_nonce }}"
    data-cspNonce="{{ csp_nonce }}"
    type="text/javascript"
    id="partial-learning-plan-edit-list"
    data-confirmMessage="{{ 'learning-plans.learning-plan-edit-list.confirm'|_ }}"
    src="{{ 'assets/js/partials/school-learning-plans/learning-plan-edit-list.js'|theme }}">
</script>
