description = "Displays a editing learning plan course as a card"

[viewBag]
==

<li class="timeline-item">

    <div class="timeline-badge primary">{{ index }}</div>

    <div class="timeline-panel rounded p-0">

        <div class="timeline-heading p-2">
            {% if session.user.profile.active_budget_id == learningPlanCourse.school_budget_id %}
                <button type="button" class="close learning-plan-edit-card-remove" aria-label="{{ 'learning-plans.learning-plan-edit-card.close'|_ }}" data-learning-plan-id="{{ learningPlan.id }}" data-course-id="{{ course.id }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            {% endif %}

            <br>

            <h5 class="timeline-title font-weight-bold">{{ str_limit(course.name, 30) }}</h5>
        </div>

        <div class="timeline-body" style="background-color: {{ course.color }} !important;">
            <div class="row w-100 m-0 px-2 pt-2">
                <div class="col-12">
                    {% if 1 == course.accredited %}
                        <p class="small m-0 text-white">{{ course.credits }} {{ 'course.credits'|_ }} <span class="mx-1">&vert;</span> {{ course.price }} {{ 'general.coin'|_ }}</p>
                    {% else %}
                        <p class="small m-0 text-white">{{ course.price }} {{ 'general.coin'|_ }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="row w-100 m-0 p-2">
                <div class="col-12 text-white">
                    <small class="align-middle">{{ course.startDate() }} <span class="mx-1">&ndash;</span> {{ course.endDate() }}</small>
                </div>
            </div>
        </div>

    </div>

</li>
